<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% load static %}
	<link rel="stylesheet" href="{% static 'webpages/style.css' %}">
	<link rel="stylesheet" href="{% static 'webpages/toolbox.css' %}">
	<title>SinoPac</title>
</head>

<body>
	<div class="header">
		<div class="logo">
			<a href="">
				<img src="{% static 'webpages/img/sinopac_logo.png' %}" alt="" width="175">
				<span class="logo-word"><span style="color: #e71a0f">e</span>Loan</span>
			</a>
		</div>

	</div>
	<div class="content-container">
		<!-- <div class="mainMenu"> -->
		<!-- <ul id="To-DoCustomList"> -->
		<!-- <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
		<!-- <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
		<!-- <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
		<!-- <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
		<!-- <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
		<!-- <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
		<!-- <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
		<!-- <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
		<!-- <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
		<!-- <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
		<!-- </ul> -->
		<!-- <div class="wrapper"></div> -->
		<!-- </div> -->


		<div class="dataList">
			<div class="swiper-pagination">
				<a class="swiper-bullet" id="swipe1" style="background: #5d5d5d"></a>
				<a class="swiper-bullet" id="swipe2"></a>
				<a class="swiper-bullet" id="swipe3"></a>
				<a class="swiper-bullet" id="swipe4"></a>
			</div>
			<div class="loaner">
				<span> 朱炳丞 | 信用貸款</span><br>[消金TM網銀信貸專案]
			</div>
			<ul>
				<li><a href=""><img src="{% static 'webpages/img/data.png' %}" width="24"> 個案資料</a></li>
				<li><a href=""><img src="{% static 'webpages/img/report.png' %}" width="24"> 報告總覽</a></li>
				<li><a href=""><img src="{% static 'webpages/img/comment.png' %}" width="24"> 信貸徵審意見</a></li>
				<li><a href=""><img src="{% static 'webpages/img/review.png' %}" width="24"> 防杜代辦檢核表</a></li>
			</ul>
			<a id="todo" href='/sinopac/'>回到代辦事項</a>
		</div>


		<div class="content">
			<div class="contentList">
				<ul>
					<li id="contentList1">金融機構查詢紀錄(<span>5</span>)</li>
					<li id="contentList2">信用卡繳款紀錄</li>
					<li id="contentList3">授信餘額紀錄</li>
					<li id="contentList4">票查紀錄</li>
					<li id="contentList5">主保債務查詢</li>
					<li id="contentList6">同一經濟關係人</li>
					<li><img src="{% static 'webpages/img/print.png' %}" width="24"></li>
				</ul>
			</div>
			<div class="contentList-info not-shown" id="contentList-info1">
				<div class="query-record">
					<h3>最近三個月被查詢紀錄</h3>
					<div class="contentList-table">
						<div class="contentList-table-item">
							<h4>姓名</h4>
							<p class="name">朱炳丞</p>
						</div>
						<div class="contentList-table-item">
							<h4>ID</h4>
							<p class="identity">R123456789</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢日期</h4>
							<p>20171123</p>
							<p>20171129</p>
							<p>20180108</p>
							<p>20180125</p>
							<p>20180111</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢機構代號及名稱</h4>
							<p>822CR16 中信銀個金信用控管部擔保徵信科</p>
							<p>0065252 合作金庫銀行七賢分行</p>
							<p>0540847 京城商業銀行新莊分行</p>
							<p>822CR18 中信銀個金信用控管部信貸徵信科</p>
							<p>822CR18 中信銀個金信用控管部信貸徵信科</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢項目摘要串列</h4>
							<p>BJKS</p>
							<p>K</p>
							<p>ABKN</p>
							<p>B</p>
							<p>K</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢理由</h4>
							<p>新業務</p>
							<p>原業務</p>
							<p>新業務/公開資訊</p>
							<p>新業務</p>
							<p>新業務</p>
						</div>
					</div>
					<div class="inquiry-times">
						<div id="financial-inquiry">
							<h4>金融機構查詢次數</h4>
							<p>5</p>
						</div>
						<div id="credit-card-inquiry">
							<h4>信用卡查詢次數</h4>
							<p>0</p>
						</div>
					</div>
				</div>

				<div class="query-record">
					<h3>查詢當日截至目前之被查詢記錄</h3>
					<div class="contentList-table">
						<div class="contentList-table-item">
							<h4>姓名</h4>
							<p class="name">朱炳丞</p>
						</div>
						<div class="contentList-table-item">
							<h4>ID</h4>
							<p class="identity">R123456789</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢日期</h4>
							<p>20171123</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢機構代號及名稱</h4>
							<p>822CR16 中信銀個金信用控管部擔保徵信科</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢項目摘要串列</h4>
							<p>BJKS</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢理由</h4>
							<p>新業務</p>
						</div>
					</div>
					<div class="inquiry-times">
						<div id="financial-inquiry">
							<h4>金融機構查詢次數</h4>
							<p>1</p>
						</div>
						<div id="credit-card-inquiry">
							<h4>信用卡查詢次數</h4>
							<p>0</p>
						</div>
					</div>
				</div>

			</div>
			<div class="contentList-info not-shown" id="contentList-info2">
				<div class="query-record">
					<h3>最近三個月被查詢紀錄</h3>
					<div class="contentList-table">
						<div class="contentList-table-item">
							<h4>姓名</h4>
							<p class="name">朱炳丞</p>
						</div>
						<div class="contentList-table-item">
							<h4>ID</h4>
							<p class="identity">R123456789</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢日期</h4>
							<p>20171123</p>
							<p>20171129</p>
							<p>20180108</p>
							<p>20180125</p>
							<p>20180111</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢機構代號及名稱</h4>
							<p>822CR16 中信銀個金信用控管部擔保徵信科</p>
							<p>0065252 合作金庫銀行七賢分行</p>
							<p>0540847 京城商業銀行新莊分行</p>
							<p>822CR18 中信銀個金信用控管部信貸徵信科</p>
							<p>822CR18 中信銀個金信用控管部信貸徵信科</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢項目摘要串列</h4>
							<p>BJKS</p>
							<p>K</p>
							<p>ABKN</p>
							<p>B</p>
							<p>K</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢理由</h4>
							<p>新業務</p>
							<p>原業務</p>
							<p>新業務/公開資訊</p>
							<p>新業務</p>
							<p>新業務</p>
						</div>
					</div>
					<div class="inquiry-times">
						<div id="financial-inquiry">
							<h4>金融機構查詢次數</h4>
							<p>5</p>
						</div>
						<div id="credit-card-inquiry">
							<h4>信用卡查詢次數</h4>
							<p>0</p>
						</div>
					</div>
				</div>

				<div class="query-record">
					<h3>查詢當日截至目前之被查詢記錄</h3>
					<div class="contentList-table">
						<div class="contentList-table-item">
							<h4>姓名</h4>
							<p class="name">朱炳丞</p>
						</div>
						<div class="contentList-table-item">
							<h4>ID</h4>
							<p class="identity">R123456789</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢日期</h4>
							<p>20171123</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢機構代號及名稱</h4>
							<p>822CR16 中信銀個金信用控管部擔保徵信科</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢項目摘要串列</h4>
							<p>BJKS</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢理由</h4>
							<p>新業務</p>
						</div>
					</div>
					<div class="inquiry-times">
						<div id="financial-inquiry">
							<h4>金融機構查詢次數</h4>
							<p>1</p>
						</div>
						<div id="credit-card-inquiry">
							<h4>信用卡查詢次數</h4>
							<p>0</p>
						</div>
					</div>
				</div>

			</div>
			<div class="contentList-info not-shown" id="contentList-info3">
				<div class="query-record">
					<h3>最近三個月被查詢紀錄</h3>
					<div class="contentList-table">
						<div class="contentList-table-item">
							<h4>姓名</h4>
							<p class="name">朱炳丞</p>
						</div>
						<div class="contentList-table-item">
							<h4>ID</h4>
							<p class="identity">R123456789</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢日期</h4>
							<p>20171123</p>
							<p>20171129</p>
							<p>20180108</p>
							<p>20180125</p>
							<p>20180111</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢機構代號及名稱</h4>
							<p>822CR16 中信銀個金信用控管部擔保徵信科</p>
							<p>0065252 合作金庫銀行七賢分行</p>
							<p>0540847 京城商業銀行新莊分行</p>
							<p>822CR18 中信銀個金信用控管部信貸徵信科</p>
							<p>822CR18 中信銀個金信用控管部信貸徵信科</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢項目摘要串列</h4>
							<p>BJKS</p>
							<p>K</p>
							<p>ABKN</p>
							<p>B</p>
							<p>K</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢理由</h4>
							<p>新業務</p>
							<p>原業務</p>
							<p>新業務/公開資訊</p>
							<p>新業務</p>
							<p>新業務</p>
						</div>
					</div>
					<div class="inquiry-times">
						<div id="financial-inquiry">
							<h4>金融機構查詢次數</h4>
							<p>5</p>
						</div>
						<div id="credit-card-inquiry">
							<h4>信用卡查詢次數</h4>
							<p>0</p>
						</div>
					</div>
				</div>

				<div class="query-record">
					<h3>查詢當日截至目前之被查詢記錄</h3>
					<div class="contentList-table">
						<div class="contentList-table-item">
							<h4>姓名</h4>
							<p class="name">朱炳丞</p>
						</div>
						<div class="contentList-table-item">
							<h4>ID</h4>
							<p class="identity">R123456789</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢日期</h4>
							<p>20171123</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢機構代號及名稱</h4>
							<p>822CR16 中信銀個金信用控管部擔保徵信科</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢項目摘要串列</h4>
							<p>BJKS</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢理由</h4>
							<p>新業務</p>
						</div>
					</div>
					<div class="inquiry-times">
						<div id="financial-inquiry">
							<h4>金融機構查詢次數</h4>
							<p>1</p>
						</div>
						<div id="credit-card-inquiry">
							<h4>信用卡查詢次數</h4>
							<p>0</p>
						</div>
					</div>
				</div>

			</div>
			<div class="contentList-info not-shown" id="contentList-info4">
				<div class="query-record">
					<h3>最近三個月被查詢紀錄</h3>
					<div class="contentList-table">
						<div class="contentList-table-item">
							<h4>姓名</h4>
							<p class="name">朱炳丞</p>
						</div>
						<div class="contentList-table-item">
							<h4>ID</h4>
							<p class="identity">R123456789</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢日期</h4>
							<p>20171123</p>
							<p>20171129</p>
							<p>20180108</p>
							<p>20180125</p>
							<p>20180111</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢機構代號及名稱</h4>
							<p>822CR16 中信銀個金信用控管部擔保徵信科</p>
							<p>0065252 合作金庫銀行七賢分行</p>
							<p>0540847 京城商業銀行新莊分行</p>
							<p>822CR18 中信銀個金信用控管部信貸徵信科</p>
							<p>822CR18 中信銀個金信用控管部信貸徵信科</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢項目摘要串列</h4>
							<p>BJKS</p>
							<p>K</p>
							<p>ABKN</p>
							<p>B</p>
							<p>K</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢理由</h4>
							<p>新業務</p>
							<p>原業務</p>
							<p>新業務/公開資訊</p>
							<p>新業務</p>
							<p>新業務</p>
						</div>
					</div>
					<div class="inquiry-times">
						<div id="financial-inquiry">
							<h4>金融機構查詢次數</h4>
							<p>5</p>
						</div>
						<div id="credit-card-inquiry">
							<h4>信用卡查詢次數</h4>
							<p>0</p>
						</div>
					</div>
				</div>

				<div class="query-record">
					<h3>查詢當日截至目前之被查詢記錄</h3>
					<div class="contentList-table">
						<div class="contentList-table-item">
							<h4>姓名</h4>
							<p>朱炳丞</p>
						</div>
						<div class="contentList-table-item">
							<h4>ID</h4>
							<p>R123456789</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢日期</h4>
							<p>20171123</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢機構代號及名稱</h4>
							<p>822CR16 中信銀個金信用控管部擔保徵信科</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢項目摘要串列</h4>
							<p>BJKS</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢理由</h4>
							<p>新業務</p>
						</div>
					</div>
					<div class="inquiry-times">
						<div id="financial-inquiry">
							<h4>金融機構查詢次數</h4>
							<p>1</p>
						</div>
						<div id="credit-card-inquiry">
							<h4>信用卡查詢次數</h4>
							<p>0</p>
						</div>
					</div>
				</div>

			</div>
			<div class="contentList-info not-shown" id="contentList-info5">
				<div class="query-record">
					<h3>最近三個月被查詢紀錄</h3>
					<div class="contentList-table">
						<div class="contentList-table-item">
							<h4>姓名</h4>
							<p class="name">朱炳丞</p>
						</div>
						<div class="contentList-table-item">
							<h4>ID</h4>
							<p class="identity">R123456789</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢日期</h4>
							<p>20171123</p>
							<p>20171129</p>
							<p>20180108</p>
							<p>20180125</p>
							<p>20180111</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢機構代號及名稱</h4>
							<p>822CR16 中信銀個金信用控管部擔保徵信科</p>
							<p>0065252 合作金庫銀行七賢分行</p>
							<p>0540847 京城商業銀行新莊分行</p>
							<p>822CR18 中信銀個金信用控管部信貸徵信科</p>
							<p>822CR18 中信銀個金信用控管部信貸徵信科</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢項目摘要串列</h4>
							<p>BJKS</p>
							<p>K</p>
							<p>ABKN</p>
							<p>B</p>
							<p>K</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢理由</h4>
							<p>新業務</p>
							<p>原業務</p>
							<p>新業務/公開資訊</p>
							<p>新業務</p>
							<p>新業務</p>
						</div>
					</div>
					<div class="inquiry-times">
						<div id="financial-inquiry">
							<h4>金融機構查詢次數</h4>
							<p>5</p>
						</div>
						<div id="credit-card-inquiry">
							<h4>信用卡查詢次數</h4>
							<p>0</p>
						</div>
					</div>
				</div>

				<div class="query-record">
					<h3>查詢當日截至目前之被查詢記錄</h3>
					<div class="contentList-table">
						<div class="contentList-table-item">
							<h4>姓名</h4>
							<p class="name">朱炳丞</p>
						</div>
						<div class="contentList-table-item">
							<h4>ID</h4>
							<p class="identity">R123456789</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢日期</h4>
							<p>20171123</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢機構代號及名稱</h4>
							<p>822CR16 中信銀個金信用控管部擔保徵信科</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢項目摘要串列</h4>
							<p>BJKS</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢理由</h4>
							<p>新業務</p>
						</div>
					</div>
					<div class="inquiry-times">
						<div id="financial-inquiry">
							<h4>金融機構查詢次數</h4>
							<p>1</p>
						</div>
						<div id="credit-card-inquiry">
							<h4>信用卡查詢次數</h4>
							<p>0</p>
						</div>
					</div>
				</div>

			</div>
			<div class="contentList-info not-shown" id="contentList-info6">
				<div class="query-record">
					<h3>最近三個月被查詢紀錄</h3>
					<div class="contentList-table">
						<div class="contentList-table-item">
							<h4>姓名</h4>
							<p class="name">朱炳丞</p>
						</div>
						<div class="contentList-table-item">
							<h4>ID</h4>
							<p class="identity">R123456789</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢日期</h4>
							<p>20171123</p>
							<p>20171129</p>
							<p>20180108</p>
							<p>20180125</p>
							<p>20180111</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢機構代號及名稱</h4>
							<p>822CR16 中信銀個金信用控管部擔保徵信科</p>
							<p>0065252 合作金庫銀行七賢分行</p>
							<p>0540847 京城商業銀行新莊分行</p>
							<p>822CR18 中信銀個金信用控管部信貸徵信科</p>
							<p>822CR18 中信銀個金信用控管部信貸徵信科</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢項目摘要串列</h4>
							<p>BJKS</p>
							<p>K</p>
							<p>ABKN</p>
							<p>B</p>
							<p>K</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢理由</h4>
							<p>新業務</p>
							<p>原業務</p>
							<p>新業務/公開資訊</p>
							<p>新業務</p>
							<p>新業務</p>
						</div>
					</div>
					<div class="inquiry-times">
						<div id="financial-inquiry">
							<h4>金融機構查詢次數</h4>
							<p>5</p>
						</div>
						<div id="credit-card-inquiry">
							<h4>信用卡查詢次數</h4>
							<p>0</p>
						</div>
					</div>
				</div>

				<div class="query-record">
					<h3>查詢當日截至目前之被查詢記錄</h3>
					<div class="contentList-table">
						<div class="contentList-table-item">
							<h4>姓名</h4>
							<p class="name">朱炳丞</p>
						</div>
						<div class="contentList-table-item">
							<h4>ID</h4>
							<p class="identity">R123456789</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢日期</h4>
							<p>20171123</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢機構代號及名稱</h4>
							<p>822CR16 中信銀個金信用控管部擔保徵信科</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢項目摘要串列</h4>
							<p>BJKS</p>
						</div>
						<div class="contentList-table-item">
							<h4>查詢理由</h4>
							<p>新業務</p>
						</div>
					</div>
					<div class="inquiry-times">
						<div id="financial-inquiry">
							<h4>金融機構查詢次數</h4>
							<p>1</p>
						</div>
						<div id="credit-card-inquiry">
							<h4>信用卡查詢次數</h4>
							<p>0</p>
						</div>
					</div>
				</div>
			</div>

			<div class="dataContent">
				<h3 id="content1">壹、基本資料查詢</h3>
				<form class="contentGrid-container">
					<div id="grid1" class="content-grid">
						<label for="name">姓名/公司名稱</label>
						<br>
						<div class="text-container">
							<input type="text" style="width: 100%; height: 30px;" name="name" readonly value="朱炳丞"
								id="basic_name" class="basicFormData"></input>
						</div>
						<div class="check"></div>
					</div>
					<div id="grid1-detail" class="content-grid details not-shown">
						<div class="close"></div>
						<img src="{% static 'webpages/img/baseline-check_circle-24px.png' %}" alt="">
						<span>姓名/公司名稱</span>
						<ul id="name">
							<!-- <li>
                                <h6>貳、一、(一)活期性存款往來資料查詢</h6>
                                <p>朱炳丞</p>
                                <a href=""><img src="{% static 'webpages/img/arrowForward.png' %}" alt=""></a>
                            </li> -->
							<!-- <li>
                                <h6>貳、一、(一)活期性存款往來資料查詢</h6>
                                <p>朱炳丞</p>
                                <a href=""><img src="{% static 'webpages/img/arrowForward.png' %}" alt=""></a>
                            </li> -->
							<!-- <li>
                                <h6>貳、一、(一)活期性存款往來資料查詢</h6>
                                <p>朱炳丞</p>
                                <a href=""><img src="{% static 'webpages/img/arrowForward.png' %}" alt=""></a>
                            </li> -->
						</ul>
					</div>

					<div id="grid2" class="content-grid">
						<label for="personID">身份證字號/統一編號</label>
						<br>
						<div class="text-container">
							<input type="text" style="width: 100%; height: 30px;" name="personID" readonly
								value="R123456789" id="basic_identity" class="basicFormData"></input>
						</div>
						<div class="check"></div>
					</div>
					<div id="grid2-detail" class="content-grid details not-shown">
						<div class="close"></div>
						<img src="{% static 'webpages/img/baseline-check_circle-24px.png' %}" alt="">
						<span>身份證字號/統一編號</span>
						<ul>
							<li></li>
						</ul>
					</div>

					<div id="grid3" class="content-grid">
						<label for="relation">關係別/與主借款人關係</label>
						<br>
						<div class="text-container">
							<select disabled style="width: 100%; height: 30px;">
								<option value="主要借款人">主要借款人</option>
								<option value="次要借款人">次要借款人</option>
								<option value="借款借款人">借款借款人</option>
								<option value="借借款款人">借借款款人</option>
							</select>
						</div>
						<div class="check"></div>
					</div>
					<div id="grid3-detail" class="content-grid details not-shown">
						<div class="close"></div>
						<img src="{% static 'webpages/img/baseline-check_circle-24px.png' %}" alt="">
						<span>關係別/與主借款人關係</span>
						<ul>
							<li></li>
						</ul>
					</div>

					<div id="grid4" class="content-grid">
						<label for="birth">出生日期</label>
						<br>
						<div class="text-container">
							<input type="text" style="width: 100%; height: 30px;" name="birth" readonly value="850102"
								id="basic_birthday" class="basicFormData"></input>
						</div>
						<div class="check"></div>
					</div>
					<div id="grid4-detail" class="content-grid details not-shown">
						<div class="close"></div>
						<img src="{% static 'webpages/img/baseline-check_circle-24px.png' %}" alt="">
						<span>出生日期</span>
						<ul id="birthday">
							<li></li>
						</ul>
					</div>

					<div id="grid5" class="content-grid">
						<label for="phone">個人電話</label>
						<br>
						<div class="text-container">
							<input type="text" style="width: 100%; height: 30px;" name="phone" readonly
								value="06-232841" id="basic_person_house_phone" class="basicFormData"></input>
							<br>
							<input type="text" style="width: 100%; height: 30px;" name="birth" readonly
								value="0986565551" id="basic_person_phone" class="basicFormData"></input>
						</div>
						<div class="check"></div>
					</div>
					<div id="grid5-detail" class="content-grid details not-shown">
						<div class="close"></div>
						<img src="{% static 'webpages/img/baseline-check_circle-24px.png' %}" alt="">
						<span>個人電話</span>
						<ul id="person_phone">
							<li></li>
						</ul>
					</div>

					<div id="grid6" class="content-grid">
						<label for="address">住家地址</label>
						<br>
						<div class="text-container">
							<textarea name="address" style="width: 100%; height: 80px;" readonly id="basic_address"
								class="basicFormData">台南市大學路1號補字補字補字補字補字補字</textarea>
						</div>
						<div class="check"></div>
					</div>
					<div id="grid6-detail" class="content-grid details not-shown">
						<div class="close"></div>
						<img src="{% static 'webpages/img/baseline-check_circle-24px.png' %}" alt="">
						<span>住家地址</span>
						<ul id="address">
							<li></li>
						</ul>
					</div>

					<div id="grid7" class="content-grid">
						<label for="position">職稱</label>
						<div class="text-container">
							<select disabled style="width: 100%; height: 30px;">
								<option value="一般職員">一般職員</option>
								<option value="幹部">幹部</option>
							</select>
						</div>
						<div class="check"></div>
					</div>
					<div id="grid7-detail" class="content-grid details not-shown">
						<div class="close"></div>
						<img src="{% static 'webpages/img/baseline-check_circle-24px.png' %}" alt="">
						<span>職稱</span>
						<ul>
							<li></li>
						</ul>
					</div>

					<div id="grid8" class="content-grid">
						<label for="career">年資</label>
						<br>
						<div class="text-container">
							<input type="text" style="width: 100%; height: 30px;" name="career" readonly value="8年"
								id="basic_career" class="basicFormData"></input>
						</div>
						<div class="check"></div>
					</div>
					<div id="grid8-detail" class="content-grid details not-shown">
						<div class="close"></div>
						<img src="{% static 'webpages/img/baseline-check_circle-24px.png' %}" alt="">
						<span>年資</span>
						<ul id="career">
							<li></li>
						</ul>
					</div>

					<div id="grid9" class="content-grid">
						<label for="industry">行業別</label>
						<div class="text-container">
							<select disabled style="width: 100%; height: 30px;">
								<option value="科技公司">科技公司</option>
								<option value="傳產">傳產</option>
							</select>
						</div>
						<div class="check"></div>
					</div>
					<div id="grid9-detail" class="content-grid details not-shown">
						<div class="close"></div>
						<img src="{% static 'webpages/img/baseline-check_circle-24px.png' %}" alt="">
						<span>行業別</span>
						<ul>
							<li></li>
						</ul>
					</div>

					<div id="grid10" class="content-grid">
						<label for="company">現職公司</label>
						<br>
						<div class="text-container">
							<input type="text" style="width:100%; height: 30px;" name="company" readonly
								value="台積電股份有限公司" id="basic_company" class="basicFormData"></input>
						</div>
						<div class="check"></div>
					</div>
					<div id="grid10-detail" class="content-grid details not-shown">
						<div class="close"></div>
						<img src="{% static 'webpages/img/baseline-check_circle-24px.png' %}" alt="">
						<span>現職公司</span>
						<ul id="company">
							<li></li>
						</ul>
					</div>

					<div id="grid11" class="content-grid">
						<label for="vocation">職業說明</label>
						<br>
						<div class="text-container">
							<input type="text" style="width: 100%; height: 30px;" name="vocation" readonly value="輪班星人"
								id="basic_job_title" class="basicFormData"></input>
						</div>
						<div class="check"></div>
					</div>
					<div id="grid11-detail" class="content-grid details not-shown">
						<div class="close"></div>
						<img src="{% static 'webpages/img/baseline-check_circle-24px.png' %}" alt="">
						<span>職業說明</span>
						<ul id="job_title">
							<li></li>
						</ul>
					</div>

					<div id="grid12" class="content-grid">
						<label for="company-phone">公司電話</label>
						<br>
						<div class="text-container">
							<input type="text" style="width: 100%; height: 30px;" name="company-phone" readonly
								value="06-232841" id="basic_company_phone" class="basicFormData"></input>
						</div>
						<div class="check"></div>
					</div>
					<div id="grid12-detail" class="content-grid details not-shown">
						<div class="close"></div>
						<img src="{% static 'webpages/img/baseline-check_circle-24px.png' %}" alt="">
						<span>公司電話</span>
						<ul>
							<li></li>
						</ul>
					</div>

					<div id="grid13" class="content-grid">
						<label for="company-address">公司地址</label>
						<br>
						<div class="text-container">
							<textarea name="company-address" style="width:100%; height: 80px;" readonly
								id="basic_company_address" class="basicFormData">台南市大學路1號補字補字補字補字補字補字</textarea>
						</div>
						<div class="check"></div>
					</div>
					<div id="grid13-detail" class="content-grid details not-shown">
						<div class="close"></div>
						<img src="{% static 'webpages/img/baseline-check_circle-24px.png' %}" alt="">
						<span>公司地址</span>
						<ul>
							<li></li>
						</ul>
					</div>

					<div id="grid14" class="content-grid">
						<label for="description">說明</label>
						<br>
						<div class="text-container">
							<textarea name="description" style="width:100%; height: 125px;" readonly
								id="basic_description" class="basicFormData">台南市大學路2號補字補字補字補字補字補字台南市大學路2號補字補字補字補字補字補字台南市大學路2號補字補字補字補字補字補字 &#13;&#10; ------------- &#13;&#10;
                            </textarea>

						</div>
						<div class="moreInfo">
							<div>
								<label for="House-communication">住家</label>
								<br>
								<div class="text-container">
									<select id="House-communication" style="min-width: 80px">
										<option value="無人接聽">無人接聽</option>
										<option value="家人接聽">家人接聽</option>
										<option value="朋友接聽">朋友接聽</option>
										<option value="本人接聽">本人接聽</option>
									</select>
								</div>
							</div>
							<div>
								<label for="company-communication">公司</label>
								<br>
								<div class="text-container">
									<select id="company-communication" style="min-width: 75px">
										<option value="(無)">(無)</option>
										<option value="總機確認">總機確認</option>
										<option value="同事確認">同事確認</option>
										<option value="本人接聽">本人接聽</option>
									</select>
								</div>

							</div>
							<div>
								<label for="contact">照會本人方式</label>
								<br>
								<div class="text-container">
									<select id="contact" style="min-width: 75px">
										<option value="手機">手機</option>
										<option value="家電">家電</option>
									</select>
								</div>

							</div>
							<div>
								<label for="business-origin">業務來源</label>
								<br>
								<div class="text-container">
									<select id="business-origin" style="min-width: 80px">
										<option value="網路申請">網路申請</option>
										<option value="現場申請">現場申請</option>
									</select>
								</div>
							</div>
							<div>
								<label for="monthly-payment">月薪</label>
								<br>
								<div class="text-container">
									<input id="monthly-payment" type="text" name="monthly-payment" placeholder="萬"
										style="max-width: 75px">
								</div>
							</div>
							<div>
								<label for="usage">用途</label>
								<br>
								<div class="text-container">
									<input id="usage" type="text" name="usage" placeholder="請敘述貸款用途"
										style="max-width: 135px">
								</div>

							</div>
							<div>
								<label for="credit">申貸</label>
								<br>
								<div class="text-container">
									<input id="credit" type="text" name="credit" placeholder="萬"
										style="max-width: 75px">
								</div>

							</div>
						</div>
					</div>
				</form>

				<div class="button-area">
					<input id="save" type="button" value="存檔">
					<input id="edit" type="button" value="編輯">
				</div>
				<br><br><br>

				<h3 id="content2">貳、本行系統查詢 <span>(單位:新台幣)</span></h3>
				<div class="inquire">
					<img src="{% static 'webpages/img/downArrow.png' %}" class="collapse-btn" alt="">
					<div class="collapsible">
						<div class="non-collapsed-item">
							<h4>活期性存款往來資料查詢</h4>
							<p class="deposit_suspicious_account">正常戶</p>
						</div>
						<div class="non-collapsed-item">
							<h4>本行歷史資料查詢記錄</h4>
							<p>無</p>
						</div>
						<div class="non-collapsed-item">
							<h4>洗錢風險等級</h4>
							<p class="deposit_money_laundering_risk_degree">低風險</p>
						</div>
						<div class="non-collapsed-item">
							<h4>洗錢風險總分</h4>
							<p class="deposit_money_laundering_risk_gradding">1545</p>
						</div>
						<div class="non-collapsed-item">
							<h4>防制洗錢FDD系統</h4>
							<p class="deposit_FDD_information">無資料</p>
						</div>
					</div>
					<div class="collapse-section">
						<h4>一、本行帳戶往來資料</h4>
						<div class="inquire-content">
							<h4>(一)活期性存款往來資料查詢 :</h4>
							<div class="inquire-table">
								<div class="table-item">
									<h4>姓名/公司名稱</h4>
									<p id="deposit_name">朱炳丞</p>
								</div>
								<div class="table-item">
									<h4>帳號</h4>
									<p id="deposit_account">1234567891011</p>
								</div>
								<div class="table-item">
									<h4>績效行</h4>
									<p id="deposit_performance">024</p>
								</div>
								<div class="table-item">
									<h4>開戶日</h4>
									<p id="deposit_openning_date">2008/08/29</p>
								</div>
								<div class="table-item">
									<h4>一年平均餘額</h4>
									<p id="deposit_a_year_average_balance">11,388</p>
								</div>
								<div class="table-item">
									<h4>六個月平均餘額</h4>
									<p id="deposit_six_month_average_balance">17,747</p>
								</div>
								<div class="table-item">
									<h4>退票紀錄</h4>
									<p id="deposit_refund_record">無</p>
								</div>
								<div class="table-item">
									<h4>扣押存款</h4>
									<p id="deposit_seizure_deposit">有</p>
								</div>
								<div class="table-item">
									<h4>可疑帳戶</h4>
									<p id="deposit_suspicious_account" class="deposit_suspicious_account">正常戶</p>
								</div>
							</div>
							<h4>(二)定期性存款往來資料查詢 :<span id="deposit_regularly_deposit_data_query"></span></h4>
							<h4>(三)放款往來、保證資料查詢(額度有效記號限主債務):</h4>
							<h4>-尚未結清資料 :<span id="deposit_yet_settled_data"></span></h4>
							<h4>-已結清資料 : <span id="deposit_settled_data"></span></h4>
							<h4>-彈性繳款 : <span id="flexible_hand_money"></span></h4>
							<h4>(四)客戶貢獻程度分析查詢 :</h4>
							<div class="inquire-table">
								<div class="table-item">
									<h4>姓名/公司名稱</h4>
									<p class="deposit_name">朱炳丞</p>
								</div>
								<div class="table-item">
									<h4>資料日期</h4>
									<p id="deposit_date_of_information">201903</p>
								</div>
								<div class="table-item">
									<h4>近三個月資產規模</h4>
									<p id="three_months_assets">20074</p>
								</div>
								<div class="table-item">
									<h4>當年度總AP</h4>
									<p id="deposit_AP">10928</p>
								</div>
								<div class="table-item">
									<h4>當年度非放款AP</h4>
									<p id="deposit_not_ap">10928</p>
								</div>
								<div class="table-item">
									<h4>前一年度總AP</h4>
									<p id="deposit_last_ap">26013</p>
								</div>
								<div class="table-item">
									<h4>前一年非放款AP</h4>
									<p id="deposit_last_not_ap">26013</p>
								</div>
							</div>
							<h4>(五)企金主從債務查詢 : <span id="deposit_debt_data_query"></span></h4>
							<h4>(六)利害關係人海外放款往來資料查詢 : <span id="oversea_deposit_data_query"></span></h4>
						</div>

						<h4>二、本行信用卡資料</h4>
						<div class="inquire-content">
							<h4>(一)信用卡往來資料查詢 : <span id="deposit_credit_card_data_query"></span></h4>
							<h4>(二)信用卡BLOCK CODE : <span id="credit_card_BLOCK_CODE"></span></h4>
						</div>

						<h4>三、風險警訊資料</h4>
						<div class="inquire-content">
							<h4>(一)不予承作資料查詢 : <span id="deposit_reject_case_data_query"></span></h4>
							<h4>(二)支存拒往資料查詢 : <span id="deposit_refuse_data_query"></span></h4>
							<h4>(三)利害關係人記錄查詢(銀行法、金控法、實質關係人) : <span id="deposit_advantage_and_disadvantage_relationships_data_query"></span></h4>
							<h4>(四)催收系統異常資料查詢 : <span id="deposit_urge_system_error_data_query"></span></h4>
							<h4>(五)本行歷史資料查詢記錄 :</h4>
							<ol>
								<li>銀行JCIC資料庫 : <span id="deposit_bank_JCIC_database"></span></li>
								<li>信用卡徵審授信註記 : <span id="deposit_credit_card_comment"></span></li>
								<li>信用卡JCIC他行強停名單 : <span id="deposit_credit_card_JCIC_other_bank_data"></span></li>
								<li>NCCCC他行強停名單 : <span id="deposit_NCCCC_other_bank_reject_data"></span></li>
								<li>e-collection最大逾期天數 : <span id="deposit_e_collection_delay_day"></span> 天</li>
							</ol>
							<h4>(六)消債協商記號 : <span id="deposit_negotiate_data"></span></h4>
							<h4>(七)信用卡金融同業通報註記 : <span id="deposit_credit_card_other_bank_comment"></span></h4>
							<h4>(八)客戶風險等級資訊與防制洗錢FDD系統查詢 :</h4>
							<div class="inquire-table">
								<div class="table-item">
									<h4>姓名/身分證號</h4>
									<p class="deposit_name_identity">朱炳丞/R123456789</p>
								</div>
								<div class="table-item">
									<h4>最新跑批日</h4>
									<p id="deposit_new_batch_processing_day">20190422</p>
								</div>
								<div class="table-item">
									<h4>洗錢風險分級</h4>
									<p id="deposit_money_laundering_risk_degree" class="deposit_money_laundering_risk_degree">低風險</p>
								</div>
								<div class="table-item">
									<h4>優先法</h4>
									<p id="deposit_priority_low">0</p>
								</div>
								<div class="table-item">
									<h4>客戶背景</h4>
									<p id="deposit_background">645</p>
								</div>
								<div class="table-item">
									<h4>地域因素</h4>
									<p id="deposit_geographical_factor">355</p>
								</div>
								<div class="table-item">
									<h4>業務關係與交易行為</h4>
									<p id="deposit_relation_behavior">325</p>
								</div>
								<div class="table-item">
									<h4>商品</h4>
									<p id="deposit_production">220</p>
								</div>
								<div class="table-item">
									<h4>洗錢風險總得分</h4>
									<p id="deposit_money_laundering_risk_gradding" class="deposit_money_laundering_risk_gradding">1545</p>
								</div>
								<div class="table-item">
									<h4>防制洗錢FDD系統</h4>
									<p id="deposit_FDD_information" class="deposit_FDD_information">無資料</p>
								</div>
							</div>
							<h4>(九)法扣系統資料 :</h4>
							<div class="inquire-table">
								<div class="table-item">
									<h4>姓名/身分證號</h4>
									<p class="deposit_name_identity">朱炳丞/R123456789</p>
									<p class="deposit_name_identity">朱炳丞/R123456789</p>
								</div>
								<div class="table-item">
									<h4>來文資料</h4>
									<p>20190116</p>
									<p>20180813</p>
								</div>
								<div class="table-item">
									<h4>扣押類別</h4>
									<p>燃料費</p>
									<p>燃料費</p>
								</div>
								<div class="table-item">
									<h4>合計(扣押執行金額)</h4>
									<p>4764</p>
									<p>5142</p>
								</div>
								<div class="table-item">
									<h4>資料來源</h4>
									<p>法務部行政執行署高雄分屬</p>
									<p>法務部行政執行署高雄分屬</p>
								</div>
							</div>

							<h4>四、行為評分卡評等</h4>
							<div class="inquire-content">
								<h4>(一)房貸近一年行為評分卡評等 : <span id="deposit_house_debt_judge_score"></span></h4>
								<h4>(二)車貸近一年行為評分卡評等 : <span id="deposit_car_debt_judge_score"></span></h4>
							</div>
						</div>
					</div>
				</div>




				<h3 id="content3">參、聯合徵信中心查詢回覆資料<span>(單位:新台幣仟元)</span></h3>
				<div class="inquire">
					<img src="{% static 'webpages/img/downArrow.png' %}" class="collapse-btn" alt="">
					<div class="collapsible">
						<div class="non-collapsed-item">
							<h4>授信異常資料</h4>
							<p id="">無</p>
						</div>
						<div class="non-collapsed-item">
							<h4>票據退票及拒往資訊</h4>
							<p>無</p>
						</div>
						<div class="non-collapsed-item">
							<h4>最近三個月被查詢記錄</h4>
							<p>2次</p>
						</div>
						<div class="non-collapsed-item">
							<h4>JCIC信用評分</h4>
							<p>514</p>
						</div>
					</div>

					<div class="collapse-section">
						<div class="inquire-content">
							<div class="inquire-table">
								<div class="table-item">
									<h4>姓名/身分證號</h4>
									<p class="union_name_identity">朱炳丞/R123456789</p>
								</div>
								<div class="table-item">
									<h4>英文姓名</h4>
									<p id="union_eng_name">Bing Cheng Zhu</p>
								</div>
								<div class="table-item">
									<h4>出生日期</h4>
									<p id="union_birthday">19960313</p>
								</div>
								<div class="table-item">
									<h4>戶籍地址</h4>
									<p id="union_address">台南市大學路1號補字補字補字補字補字補字</p>
								</div>
							</div>

							<div class="dragable-data">
								<p>其餘資訊 : <span id="union_other_info"></span></p>
								<p>新增額度及每筆撥款清償資訊 : <span id="union_repay_info"></span></p>
								<p>身分證申請補發記錄 : <span id="union_identity_card_reissue_record"></span></p>
								<p>在台無戶籍人士身分註記 : <span id="union_no_household_registration_in_TW"></span></p>
								<p>退票異常紀錄 : <span id="union_refund_error_record"></span></p>
								<p>最近授信異常日期 : <span id="union_recent_credit_problem"></span></p>
								<p>通報案件紀錄 : <span id="union_bulletined_case_record"></span></p>
								<p>消債其他註記 : <span id="union_cancel_debt_record"></span></p>
								<p>拒絕往來紀錄 : <span id="union_reject_contact_record"></span></p>
								<p>授信異常紀錄 : <span id="union_credits_problem_record"></span></p>
								<p>強制停卡紀錄 : <span id="union_forced_stopping_credit_card_record"></span></p>
							</div>


						</div>

						<h4>(一)通報案件紀錄資訊</h4>
						<div class="inquire-content">
							<p>1.案件通部 : <span id="union_case_notification_record"></span>  </p>
							<p>2.遷徙公告 : <span id="union_migration_record"></span></p>
							<p>3.身分證更改記錄 : <span id="union_identity_modification_record"></span></p>
							<p>4.補充註記資訊 : <span id="union_supplement_comment_record"></span></p>
							<p>5.國民身分證領補換資料查詢驗證 :</p>
							<p>資料日期 : <span id="union_identity_data_date"></span></p>
							<p>身分證號 : <span id="union_identity_record"></span></p>
							<p>領補換代碼 : <span id="union_reissue_code"></span>換</p>
							<p>領補換日期 : <span id="union_reissue_date"></span></p>
							<p>出生日期 : <span id="union_birthdat_on_identity_system"></span></p>
							<p>發證地點 : <span id="union_issue_place"></span></p>
							<p>驗證結果 : Y與檔案資料相符</p>
							<p>6.在台吳互即人士身分證資料 : <span id="union_no_household_registration_in_TW_identity_information"></span></p>
						</div>


						<h4>(二)授信保證資料</h4>
						<h4>授信資料日期 : 20190331</h4>
						<h4>衍生性金融商品交易轉捩授信爭議案件住記 : <span id="union_extend_credit_data_date"></span></h4>
						<div class="inquire-content">
							<h4>1.授信資料明細及還款記錄資訊<span>(暫定表格 尚未修改)</span></h4>
							<div class="inquire-table">
								<div class="table-item">
									<h4>姓名/身分證號</h4>
									<p class="union_name_identity">朱炳丞/R123456789</p>
									<p class="union_name_identity">朱炳丞/R123456789</p>
								</div>
								<div class="table-item">
									<h4>來文資料</h4>
									<p>20190116</p>
									<p>20180813</p>
								</div>
								<div class="table-item">
									<h4>扣押類別</h4>
									<p>燃料費</p>
									<p>燃料費</p>
								</div>
								<div class="table-item">
									<h4>合計(扣押執行金額)</h4>
									<p>4764</p>
									<p>5142</p>
								</div>
								<div class="table-item">
									<h4>資料來源</h4>
									<p>法務部行政執行署高雄分屬</p>
									<p>法務部行政執行署高雄分屬</p>
								</div>
							</div>
							<h4>查資料庫中吳債權轉讓資料明細-主債務</h4>
							<br><br>
							<h4>2.共同債務 : 查資料庫中無本人擔任他戶之共同債務資訊</h4>
							<h4 id="union_joint_debt">查資料庫中吳債權轉讓資料明細-共同債務</h4>
							<h4>3.從債務(以下均為主借款戶之資料) : <span id="union_debt"></span></h4>
							<h4>查資料庫中吳債權轉讓資料明細-從債務</h4>
							<h4>4.其他(擔保品提供人-身分證代號S) : <span id="union_other_information"></span></h4>
							<h4>查資料庫中吳債權轉讓資料明細-其他(擔保品提供人)</h4>
							<h4>5.每日受信餘額變動資訊</h4>
							<h4>(1)每日受信餘額變動資訊<span>(尚未編輯)</span></h4>
							<h4>(2)每日受信餘額變動資訊<span>(尚未編輯)</span></h4>
							<h4>(3)每日受信餘額變動資訊(尚未編輯)如下<span>(暫定表格 尚未修改)</span></h4>
							<div class="inquire-table">
								<div class="table-item">
									<h4>姓名/身分證號</h4>
									<p class="union_name_identity">朱炳丞/R123456789</p>
									<p class="union_name_identity">朱炳丞/R123456789</p>
								</div>
								<div class="table-item">
									<h4>來文資料</h4>
									<p>20190116</p>
									<p>20180813</p>
								</div>
								<div class="table-item">
									<h4>扣押類別</h4>
									<p>燃料費</p>
									<p>燃料費</p>
								</div>
								<div class="table-item">
									<h4>合計(扣押執行金額)</h4>
									<p>4764</p>
									<p>5142</p>
								</div>
								<div class="table-item">
									<h4>資料來源</h4>
									<p>法務部行政執行署高雄分屬</p>
									<p>法務部行政執行署高雄分屬</p>
								</div>
							</div>
							<h4>(4)每日受信餘額變動資訊<span>(尚未編輯)</span></h4>
						</div>

						<div class="inquire">
							<h4>(三)新增額度(含應計入DBR22倍金額)及清償資訊 : <span id="union_new_quota"></span></h4>
						</div>
						<div class="inquire">
							<h4>(四)授信異常資料</h4>
							<div class="inquire-content">
								<h4>1.逾期催收及呆帳資料 : <span id="union_overdue_collection_of_bad_debts"></span></h4>
								<h4>2.逾期資料債權轉讓 : <span id="union_transfer_of_overdue_information_claims"></span></h4>
								<h4>3.個人餘催呆授信留向非法人組織資訊 : <span id="union_Personal_unincorporated_organizations_info"></span></h4>
							</div>
						</div>
						<div class="inquire">
							<h4>(五)票據退票及拒往資訊<span>(表格尚未編輯)</span></h4>
							<h4>票信資料日期 : <span id="union_data_info_date"></span></h4>
							<div class="inquire-content">
								<div class="inquire-table">
									<div class="table-item">
										<h4>姓名/身分證號</h4>
										<p class="union_name_identity">朱炳丞/R123456789</p>
										<p class="union_name_identity">朱炳丞/R123456789</p>
									</div>
									<div class="table-item">
										<h4>來文資料</h4>
										<p>20190116</p>
										<p>20180813</p>
									</div>
									<div class="table-item">
										<h4>扣押類別</h4>
										<p>燃料費</p>
										<p>燃料費</p>
									</div>
									<div class="table-item">
										<h4>合計(扣押執行金額)</h4>
										<p>4764</p>
										<p>5142</p>
									</div>
									<div class="table-item">
										<h4>資料來源</h4>
										<p>法務部行政執行署高雄分屬</p>
										<p>法務部行政執行署高雄分屬</p>
									</div>
								</div>
							</div>

						</div>
						<div class="inquire">
							<h4>(六)信用卡資訊</h4>
							<h4>資料處理日期 : <span id="union_data_info_date"></span></h4>
							<div class="inquire-content">
								<h4>1.信用卡<span>(表格尚未編輯)</span></h4>
								<div class="inquire-table">
									<div class="table-item">
										<h4>姓名/身分證號</h4>
										<p class="union_name_identity">朱炳丞/R123456789</p>
										<p class="union_name_identity">朱炳丞/R123456789</p>
									</div>
									<div class="table-item">
										<h4>來文資料</h4>
										<p>20190116</p>
										<p>20180813</p>
									</div>
									<div class="table-item">
										<h4>扣押類別</h4>
										<p>燃料費</p>
										<p>燃料費</p>
									</div>
									<div class="table-item">
										<h4>合計(扣押執行金額)</h4>
										<p>4764</p>
										<p>5142</p>
									</div>
									<div class="table-item">
										<h4>資料來源</h4>
										<p>法務部行政執行署高雄分屬</p>
										<p>法務部行政執行署高雄分屬</p>
									</div>
								</div>
								<h4>2.信用卡用戶基本資訊</h4>
								<div class="inquire-table">
									<div class="table-item">
										<h4><br>異動日期</h4>
										<p id="union_change_date">20190407</p>
									</div>
									<div class="table-item">
										<h4><br>報送機構</h4>
										<p id="union_orgnization">匯豐銀行</p>
									</div>
									<div class="table-item">
										<h4><br>中文姓名</h4>
										<p id="union_ch_name">朱炳丞</p>
									</div>
									<div class="table-item">
										<h4><br>出生日期</h4>
										<p id="union_birthday_on_credit_system">19960312</p>
									</div>
									<div class="table-item">
										<h4>戶籍地址<br>通訊地址</h4>
										<p id="union_contact_address">台南市大學路1號補字補字補字補字補字補字 </p>
										<p id="union_regirster_address">台南市大學路2號補字補字補字補字補字補字</p>
									</div>
									<div class="table-item">
										<h4>居住電話<br>任職電話</h4>
										<p id="union_contact_phone_number">06-2328411</p>
										<p id="union_company_phone_number">06-2328412</p>
									</div>
								</div>
								<div class="inquire-table">
									<div class="table-item">
										<h4>任職機構</h4>
										<p id="union_company">台積電股份有限公司</p>
									</div>
									<div class="table-item">
										<h4>職稱</h4>
										<p id="union_job_title">一般職員</p>
									</div>
									<div class="table-item">
										<h4>年薪</h4>
										<p id="union_year_salary">444</p>
									</div>
									<div class="table-item">
										<h4>年資</h4>
										<p id="union_career">8</p>
									</div>
									<div class="table-item">
										<h4>教育程度</h4>
										<p id="union_edu_degree">大學</p>
									</div>
								</div>
								<h4>3.自用住宅有無 : <span id="union_owned_house"></span></h4>
							</div>
						</div>
						<div class="inquire">
							<h4>(七)最近三個月被查詢記錄</h4>
							<div class="inquire-content">
								<h4>新業務申請 : <span class="union_new_business"></span> 次</h4>
								<h4>原業務往來 : <span class="union_original_business"></span> 次</h4>
								<h4>原業務往來及新業務申請 : <span class="union_new_and_original_business"></span> 次</h4>
								<h4>查詢當日截至目前金融機構查詢次數 : <span class="union_other_financial_org_query_after_quered"></span> 次</h4>
								<h4>金融機構查詢次數 : <span class="union_financial_query_time"></span> 次</h4>
							</div>
						</div>
						<div class="inquire">
							<h4>(八)信用評分 : <span style="color: #1974f5; font-weight: 700; font-size: 20px" id="union_score"></span> 分
							</h4>
							<div class="inquire-content">
								<h4>新業務申請 : <span class="union_new_business"></span> 次</h4>
								<h4>原業務往來 : <span class="union_original_business"></span> 次</h4>
								<h4>原業務往來及新業務申請 : <span class="union_new_and_original_business"></span> 次</h4>
								<h4>查詢當日截至目前金融機構查詢次數 : <span class="union_other_financial_org_query_after_quered"></span> 次</h4>
								<h4>金融機構查詢次數 : <span class="union_financial_query_time"></span> 次</h4>
							</div>
						</div>
						<div class="inquire">
							<h4>(九)應記入DBR22倍規範之無擔保放款明細</h4>
							<div class="inquire-content">
								<h4>新業務申請 : <span class="union_new_business"></span> 次</h4>
								<h4>原業務往來 : <span class="union_original_business"></span> 次</h4>
								<div class="inquire-table">
									<div class="table-item">
										<h4>姓名/身分證號</h4>
										<p class="union_name_identity">朱炳丞/R123456789</p>
										<p class="union_name_identity">朱炳丞/R123456789</p>
									</div>
									<div class="table-item">
										<h4>來文資料</h4>
										<p>20190116</p>
										<p>20180813</p>
									</div>
									<div class="table-item">
										<h4>扣押類別</h4>
										<p>燃料費</p>
										<p>燃料費</p>
									</div>
									<div class="table-item">
										<h4>合計(扣押執行金額)</h4>
										<p>4764</p>
										<p>5142</p>
									</div>
									<div class="table-item">
										<h4>資料來源</h4>
										<p>法務部行政執行署高雄分屬</p>
										<p>法務部行政執行署高雄分屬</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<h3 id="content4">肆、總結</h3>
				<div class="inquire" id="conclusion">
					<div class="conclusion-item">
						<h4>電照補充說明</h4>
						<div class="conclusion-info">
							<input type="text" value="無" readonly>
						</div>
					</div>
					<div class="conclusion-item">
						<h4>其他事項說明</h4>
						<div class="conclusion-info">
							<textarea name="" id="" cols="30" rows="10" readonly>*本案有同一經紀關係人資料，請業務同仁依據「同一經濟關係授信歸互暨簽核要點」規範辦理。&#13;&#10;*B有法扣系統資料 &#13;&#10;*本徵信報告同一經濟關係戶共1名「主保債務查詢」基本資料區無異常訊息或註記資料，業務單位需再依規確認。&#13;&#10;*月收暫認:107.10~108.3$235080/6+年終41420/12=42632元，核委得依客戶提供之財力文件核算並調整其月收入。
                            </textarea>
						</div>

					</div>
					<div class="conclusion-item">
						<h4>公告後修改說明</h4>
						<div class="conclusion-info">
							<input type="text" value="無" readonly>
						</div>
					</div>
					<div class="conclusion-item">
						<h4>信用等級</h4>
						<div class="conclusion-info">
							<select style="min-width: 50px" name="credit-level" id="" disabled>
								<option value="S"><span>S</span> 級</option>
								<option value="A"><span>A</span> 級</option>
								<option value="B"><span>B</span> 級</option>
								<option value="C"><span>C</span> 級</option>
								<option value="D"><span>D</span> 級</option>
							</select>
						</div>

					</div>
					<div class="conclusion-item">
						<h4>信用異常資料彙整</h4>
						<div class="conclusion-info">
							<p>關係人:R123456789 朱炳丞</p>
							<br>
							<div class="inquire-table">
								<div class="table-item">
									<h4>大項</h4>
									<p>本行</p>
								</div>
								<div class="table-item">
									<h4>資料來源</h4>
									<p>本行系統</p>
								</div>
								<div class="table-item">
									<h4>異常原因</h4>
									<p>扣押存款</p>
								</div>
								<div class="table-item">
									<h4>備註</h4>
									<p>法院扣押存款</p>
								</div>
							</div>
						</div>

					</div>
					<div class="conclusion-item">
						<h4>參考資料</h4>
						<div class="conclusion-info">
							<p>無</p>
						</div>
					</div>
					<div class="conclusion-item">
						<h4>信用卡繳款延遲狀</h4>
						<div class="conclusion-info">
							<p class="name-identity">朱炳丞/R123456789</p>
							<p>[31-37].未繳足最低金額 : 0</p>
							<p>[41-47].全額逾期未繳 : 0</p>
							<p>催收、呆帳 : 0</p>
						</div>
					</div>
					<div class="conclusion-item">
						<h4>洗錢及資助恐怖主義防治彙整</h4>
						<div class="conclusion-info">
							<div class="inquire-table">
								<div class="table-item">
									<h4>姓名/身分證號</h4>
									<p class="name-identity">朱炳丞/R123456789</p>
									<p class="name-identity">朱炳丞/R123456789</p>
								</div>
								<div class="table-item">
									<h4>來文資料</h4>
									<p>20190116</p>
									<p>20180813</p>
								</div>
								<div class="table-item">
									<h4>扣押類別</h4>
									<p>燃料費</p>
									<p>燃料費</p>
								</div>
								<div class="table-item">
									<h4>合計(扣押執行金額)</h4>
									<p>4764</p>
									<p>5142</p>
								</div>
								<div class="table-item">
									<h4>資料來源</h4>
									<p>法務部行政執行署高雄分屬</p>
									<p>法務部行政執行署高雄分屬</p>
								</div>
							</div>
						</div>

					</div>
					<div class="button-area">
						<input id="conclusion-save" type="button" value="存檔">
						<input id="conclusion-edit" type="button" value="編輯">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- toolbox -->
	<div class="toolbox hide">
		<button id="pushpin"></button>
		<button id="top"></button>
		<button id="alert"></button>
		<button id="sum"></button>
		<button id="bottom"></button>

	</div>
	<div id="summary">
		<h3>總結登打<button class="close"><img src="{% static 'webpages/img/baseline-clear-24px.png' %}"></button></h3>
		<form class="phase">
			<h5>
				<input type="radio" name="sum" id="s1" checked>
				<label for="s1"><span></span>電照補充說明</label>
				<input type="radio" name="sum" id="s2" checked>
				<label for="s2"><span></span>其他事項說明</label>
				<input type="radio" name="sum" id="s3" checked>
				<label for="s3"><span></span>公告後修改說明</label>
				<input type="radio" name="sum" id="s4" checked>
				<label for="s4"><span></span>信用異常資料彙整</label>
				<input type="radio" name="sum" id="s5" checked>
				<label for="s5"><span></span>參考資料</label>
			</h5>
			<h5>
				片語
				<select class="phaselist" id="phaselist">
					<option>案源:業務於北富銀上班時即往來過 </option>
					<option>案源:B為業務前職客戶</option>
					<option>案源:自行致電客服申貸.</option>
					<option>案源:臨櫃申辦</option>
					<option>案源:網銀申辦</option>
				</select>
				<input id="add" type="button" value="新增">
			</h5>

			<textarea id="text"></textarea>

		</form>

		<form>
			<h5> 信用等級<select class="credit">
					<option value="s">S級</option>
					<option value="a">A級</option>
					<option value="b">B級</option>
					<option value="c">C級</option>
				</select>
				<input id="save" type="button" value="存檔"> </h5>
		</form>
	</div>
	<div class="alert">
		<div class="note">
			<input type="text" id="hour"> 時:<input type="text" id="minute">分後提醒我
			<button class="close"><img src="{% static 'webpages/img/baseline-clear-24px.png' %}"></button>
			<div style="border-top:solid 0.5px #aaa;margin-top: 10px;padding-top: 10px;">
				<textarea id="alert-summary"></textarea>
			</div>
			<button id="alert-edit"></button>
			<button id="alert-save"></button>
		</div>
	</div>

	<script src="{% static 'webpages/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'webpages/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
	<script src="{% static 'webpages/animation.js' %}"></script>
	<script src="{% static 'webpages/toolbox.js' %}"></script>
	<script src="{% static 'webpages/contactToSer.js' %}"></script>
</body>

</html>