<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
	<link rel="stylesheet" href="{% static 'webpages/style.css' %}">
    <title>SinoPac</title>
</head>

<body>
    <div class="header">
        <div class="logo">
            <a href="">
                    <img src="{% static 'webpages/sinopac_logo.png' %}" alt="" width="175">
                <span class="logo-word"><span style="color: #e71a0f">e</span>Loan</span>
            </a>

        </div>

    </div>
    <div class="content-container">
        <div class="mainMenu">
            <button>回到代辦事項</button>
            <ul id="To-DoCustomList">
                <!-- <li class="items" ><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
                <!-- <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
                <!-- <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
                <!-- <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
                <!-- <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
                <!-- <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
                <!-- <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
                <!-- <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
                <!-- <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
                <!-- <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li> -->
            </ul>
            <!-- <div class="wrapper"></div> -->
        </div>
        <div class="dataList">
            <ul>
                    <li><a href=""><img src="{% static 'webpages/data.png' %}" width="24"> 個案資料</a></li>
                    <li><a href=""><img src="{% static 'webpages/report.png' %}" width="24"> 報告總覽</a></li>
                    <li><a href=""><img src="{% static 'webpages/comment.png' %}" width="24"> 信貸徵審意見</a></li>
                    <li><a href=""><img src="{% static 'webpages/review.png' %}" width="24"> 防杜代辦檢核表</a></li>
            </ul>
            <div class="swiper-pagination">
                <a class="swiper-bullet" id="swipe1" style="background: #5d5d5d"></a>
                <a class="swiper-bullet" id="swipe2"></a>
                <a class="swiper-bullet" id="swipe3"></a>
                <a class="swiper-bullet" id="swipe4"></a>
            </div>
        </div>
        <div class="content">
            <div class="contentList">
                <ul>
                    <li id="contentList1">金融機構查詢紀錄(<span>5</span>)</li>
                    <li id="contentList2">信用卡繳款紀錄</li>
                    <li id="contentList3">授信餘額紀錄</li>
                    <li id="contentList4">票查紀錄</li>
                    <li id="contentList5">主保債務查詢</li>
                    <li id="contentList6">同一經濟關係人</li>
                    <li><img src="{% static 'webpages/print.png' %}" width="24"></li>
                </ul>
            </div>
            <div class="contentList-info not-shown" id="contentList-info1">
                <div class="query-record">
                    <h3>最近三個月被查詢紀錄</h3>
                    <div class="contentList-table">
                        <div class="contentList-table-item">
                            <h4>姓名</h4>
                            <p>朱炳丞</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>ID</h4>
                            <p>R123456789</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢日期</h4>
                            <p>20171123</p>
                            <p>20171129</p>
                            <p>20180108</p>
                            <p>20180125</p>
                            <p>20180111</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢機構代號及名稱</h4>
                            <p>822CR16 中信銀個金信用控管部擔保徵信科</p>
                            <p>0065252 合作金庫銀行七賢分行</p>
                            <p>0540847 京城商業銀行新莊分行</p>
                            <p>822CR18 中信銀個金信用控管部信貸徵信科</p>
                            <p>822CR18 中信銀個金信用控管部信貸徵信科</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢項目摘要串列</h4>
                            <p>BJKS</p>
                            <p>K</p>
                            <p>ABKN</p>
                            <p>B</p>
                            <p>K</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢理由</h4>
                            <p>新業務</p>
                            <p>原業務</p>
                            <p>新業務/公開資訊</p>
                            <p>新業務</p>
                            <p>新業務</p>
                        </div>
                    </div>
                    <div class="inquiry-times">
                        <div id="financial-inquiry">
                            <h4>金融機構查詢次數</h4>
                            <p>5</p>
                        </div>
                        <div id="credit-card-inquiry">
                            <h4>信用卡查詢次數</h4>
                            <p>0</p>
                        </div>
                    </div>
                </div>

                <div class="query-record">
                    <h3>查詢當日截至目前之被查詢記錄</h3>
                    <div class="contentList-table">
                        <div class="contentList-table-item">
                            <h4>姓名</h4>
                            <p>朱炳丞</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>ID</h4>
                            <p>R123456789</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢日期</h4>
                            <p>20171123</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢機構代號及名稱</h4>
                            <p>822CR16 中信銀個金信用控管部擔保徵信科</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢項目摘要串列</h4>
                            <p>BJKS</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢理由</h4>
                            <p>新業務</p>
                        </div>
                    </div>
                    <div class="inquiry-times">
                        <div id="financial-inquiry">
                            <h4>金融機構查詢次數</h4>
                            <p>1</p>
                        </div>
                        <div id="credit-card-inquiry">
                            <h4>信用卡查詢次數</h4>
                            <p>0</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="contentList-info not-shown" id="contentList-info2">
                <div class="query-record">
                    <h3>最近三個月被查詢紀錄</h3>
                    <div class="contentList-table">
                        <div class="contentList-table-item">
                            <h4>姓名</h4>
                            <p>朱炳丞</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>ID</h4>
                            <p>R123456789</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢日期</h4>
                            <p>20171123</p>
                            <p>20171129</p>
                            <p>20180108</p>
                            <p>20180125</p>
                            <p>20180111</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢機構代號及名稱</h4>
                            <p>822CR16 中信銀個金信用控管部擔保徵信科</p>
                            <p>0065252 合作金庫銀行七賢分行</p>
                            <p>0540847 京城商業銀行新莊分行</p>
                            <p>822CR18 中信銀個金信用控管部信貸徵信科</p>
                            <p>822CR18 中信銀個金信用控管部信貸徵信科</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢項目摘要串列</h4>
                            <p>BJKS</p>
                            <p>K</p>
                            <p>ABKN</p>
                            <p>B</p>
                            <p>K</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢理由</h4>
                            <p>新業務</p>
                            <p>原業務</p>
                            <p>新業務/公開資訊</p>
                            <p>新業務</p>
                            <p>新業務</p>
                        </div>
                    </div>
                    <div class="inquiry-times">
                        <div id="financial-inquiry">
                            <h4>金融機構查詢次數</h4>
                            <p>5</p>
                        </div>
                        <div id="credit-card-inquiry">
                            <h4>信用卡查詢次數</h4>
                            <p>0</p>
                        </div>
                    </div>
                </div>

                <div class="query-record">
                    <h3>查詢當日截至目前之被查詢記錄</h3>
                    <div class="contentList-table">
                        <div class="contentList-table-item">
                            <h4>姓名</h4>
                            <p>朱炳丞</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>ID</h4>
                            <p>R123456789</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢日期</h4>
                            <p>20171123</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢機構代號及名稱</h4>
                            <p>822CR16 中信銀個金信用控管部擔保徵信科</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢項目摘要串列</h4>
                            <p>BJKS</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢理由</h4>
                            <p>新業務</p>
                        </div>
                    </div>
                    <div class="inquiry-times">
                        <div id="financial-inquiry">
                            <h4>金融機構查詢次數</h4>
                            <p>1</p>
                        </div>
                        <div id="credit-card-inquiry">
                            <h4>信用卡查詢次數</h4>
                            <p>0</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="contentList-info not-shown" id="contentList-info3">
                <div class="query-record">
                    <h3>最近三個月被查詢紀錄</h3>
                    <div class="contentList-table">
                        <div class="contentList-table-item">
                            <h4>姓名</h4>
                            <p>朱炳丞</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>ID</h4>
                            <p>R123456789</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢日期</h4>
                            <p>20171123</p>
                            <p>20171129</p>
                            <p>20180108</p>
                            <p>20180125</p>
                            <p>20180111</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢機構代號及名稱</h4>
                            <p>822CR16 中信銀個金信用控管部擔保徵信科</p>
                            <p>0065252 合作金庫銀行七賢分行</p>
                            <p>0540847 京城商業銀行新莊分行</p>
                            <p>822CR18 中信銀個金信用控管部信貸徵信科</p>
                            <p>822CR18 中信銀個金信用控管部信貸徵信科</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢項目摘要串列</h4>
                            <p>BJKS</p>
                            <p>K</p>
                            <p>ABKN</p>
                            <p>B</p>
                            <p>K</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢理由</h4>
                            <p>新業務</p>
                            <p>原業務</p>
                            <p>新業務/公開資訊</p>
                            <p>新業務</p>
                            <p>新業務</p>
                        </div>
                    </div>
                    <div class="inquiry-times">
                        <div id="financial-inquiry">
                            <h4>金融機構查詢次數</h4>
                            <p>5</p>
                        </div>
                        <div id="credit-card-inquiry">
                            <h4>信用卡查詢次數</h4>
                            <p>0</p>
                        </div>
                    </div>
                </div>

                <div class="query-record">
                    <h3>查詢當日截至目前之被查詢記錄</h3>
                    <div class="contentList-table">
                        <div class="contentList-table-item">
                            <h4>姓名</h4>
                            <p>朱炳丞</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>ID</h4>
                            <p>R123456789</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢日期</h4>
                            <p>20171123</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢機構代號及名稱</h4>
                            <p>822CR16 中信銀個金信用控管部擔保徵信科</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢項目摘要串列</h4>
                            <p>BJKS</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢理由</h4>
                            <p>新業務</p>
                        </div>
                    </div>
                    <div class="inquiry-times">
                        <div id="financial-inquiry">
                            <h4>金融機構查詢次數</h4>
                            <p>1</p>
                        </div>
                        <div id="credit-card-inquiry">
                            <h4>信用卡查詢次數</h4>
                            <p>0</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="contentList-info not-shown" id="contentList-info4">
                <div class="query-record">
                    <h3>最近三個月被查詢紀錄</h3>
                    <div class="contentList-table">
                        <div class="contentList-table-item">
                            <h4>姓名</h4>
                            <p>朱炳丞</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>ID</h4>
                            <p>R123456789</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢日期</h4>
                            <p>20171123</p>
                            <p>20171129</p>
                            <p>20180108</p>
                            <p>20180125</p>
                            <p>20180111</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢機構代號及名稱</h4>
                            <p>822CR16 中信銀個金信用控管部擔保徵信科</p>
                            <p>0065252 合作金庫銀行七賢分行</p>
                            <p>0540847 京城商業銀行新莊分行</p>
                            <p>822CR18 中信銀個金信用控管部信貸徵信科</p>
                            <p>822CR18 中信銀個金信用控管部信貸徵信科</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢項目摘要串列</h4>
                            <p>BJKS</p>
                            <p>K</p>
                            <p>ABKN</p>
                            <p>B</p>
                            <p>K</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢理由</h4>
                            <p>新業務</p>
                            <p>原業務</p>
                            <p>新業務/公開資訊</p>
                            <p>新業務</p>
                            <p>新業務</p>
                        </div>
                    </div>
                    <div class="inquiry-times">
                        <div id="financial-inquiry">
                            <h4>金融機構查詢次數</h4>
                            <p>5</p>
                        </div>
                        <div id="credit-card-inquiry">
                            <h4>信用卡查詢次數</h4>
                            <p>0</p>
                        </div>
                    </div>
                </div>

                <div class="query-record">
                    <h3>查詢當日截至目前之被查詢記錄</h3>
                    <div class="contentList-table">
                        <div class="contentList-table-item">
                            <h4>姓名</h4>
                            <p>朱炳丞</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>ID</h4>
                            <p>R123456789</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢日期</h4>
                            <p>20171123</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢機構代號及名稱</h4>
                            <p>822CR16 中信銀個金信用控管部擔保徵信科</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢項目摘要串列</h4>
                            <p>BJKS</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢理由</h4>
                            <p>新業務</p>
                        </div>
                    </div>
                    <div class="inquiry-times">
                        <div id="financial-inquiry">
                            <h4>金融機構查詢次數</h4>
                            <p>1</p>
                        </div>
                        <div id="credit-card-inquiry">
                            <h4>信用卡查詢次數</h4>
                            <p>0</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="contentList-info not-shown" id="contentList-info5">
                <div class="query-record">
                    <h3>最近三個月被查詢紀錄</h3>
                    <div class="contentList-table">
                        <div class="contentList-table-item">
                            <h4>姓名</h4>
                            <p>朱炳丞</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>ID</h4>
                            <p>R123456789</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢日期</h4>
                            <p>20171123</p>
                            <p>20171129</p>
                            <p>20180108</p>
                            <p>20180125</p>
                            <p>20180111</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢機構代號及名稱</h4>
                            <p>822CR16 中信銀個金信用控管部擔保徵信科</p>
                            <p>0065252 合作金庫銀行七賢分行</p>
                            <p>0540847 京城商業銀行新莊分行</p>
                            <p>822CR18 中信銀個金信用控管部信貸徵信科</p>
                            <p>822CR18 中信銀個金信用控管部信貸徵信科</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢項目摘要串列</h4>
                            <p>BJKS</p>
                            <p>K</p>
                            <p>ABKN</p>
                            <p>B</p>
                            <p>K</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢理由</h4>
                            <p>新業務</p>
                            <p>原業務</p>
                            <p>新業務/公開資訊</p>
                            <p>新業務</p>
                            <p>新業務</p>
                        </div>
                    </div>
                    <div class="inquiry-times">
                        <div id="financial-inquiry">
                            <h4>金融機構查詢次數</h4>
                            <p>5</p>
                        </div>
                        <div id="credit-card-inquiry">
                            <h4>信用卡查詢次數</h4>
                            <p>0</p>
                        </div>
                    </div>
                </div>

                <div class="query-record">
                    <h3>查詢當日截至目前之被查詢記錄</h3>
                    <div class="contentList-table">
                        <div class="contentList-table-item">
                            <h4>姓名</h4>
                            <p>朱炳丞</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>ID</h4>
                            <p>R123456789</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢日期</h4>
                            <p>20171123</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢機構代號及名稱</h4>
                            <p>822CR16 中信銀個金信用控管部擔保徵信科</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢項目摘要串列</h4>
                            <p>BJKS</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢理由</h4>
                            <p>新業務</p>
                        </div>
                    </div>
                    <div class="inquiry-times">
                        <div id="financial-inquiry">
                            <h4>金融機構查詢次數</h4>
                            <p>1</p>
                        </div>
                        <div id="credit-card-inquiry">
                            <h4>信用卡查詢次數</h4>
                            <p>0</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="contentList-info not-shown" id="contentList-info6">
                <div class="query-record">
                    <h3>最近三個月被查詢紀錄</h3>
                    <div class="contentList-table">
                        <div class="contentList-table-item">
                            <h4>姓名</h4>
                            <p>朱炳丞</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>ID</h4>
                            <p>R123456789</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢日期</h4>
                            <p>20171123</p>
                            <p>20171129</p>
                            <p>20180108</p>
                            <p>20180125</p>
                            <p>20180111</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢機構代號及名稱</h4>
                            <p>822CR16 中信銀個金信用控管部擔保徵信科</p>
                            <p>0065252 合作金庫銀行七賢分行</p>
                            <p>0540847 京城商業銀行新莊分行</p>
                            <p>822CR18 中信銀個金信用控管部信貸徵信科</p>
                            <p>822CR18 中信銀個金信用控管部信貸徵信科</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢項目摘要串列</h4>
                            <p>BJKS</p>
                            <p>K</p>
                            <p>ABKN</p>
                            <p>B</p>
                            <p>K</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢理由</h4>
                            <p>新業務</p>
                            <p>原業務</p>
                            <p>新業務/公開資訊</p>
                            <p>新業務</p>
                            <p>新業務</p>
                        </div>
                    </div>
                    <div class="inquiry-times">
                        <div id="financial-inquiry">
                            <h4>金融機構查詢次數</h4>
                            <p>5</p>
                        </div>
                        <div id="credit-card-inquiry">
                            <h4>信用卡查詢次數</h4>
                            <p>0</p>
                        </div>
                    </div>
                </div>

                <div class="query-record">
                    <h3>查詢當日截至目前之被查詢記錄</h3>
                    <div class="contentList-table">
                        <div class="contentList-table-item">
                            <h4>姓名</h4>
                            <p>朱炳丞</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>ID</h4>
                            <p>R123456789</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢日期</h4>
                            <p>20171123</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢機構代號及名稱</h4>
                            <p>822CR16 中信銀個金信用控管部擔保徵信科</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢項目摘要串列</h4>
                            <p>BJKS</p>
                        </div>
                        <div class="contentList-table-item">
                            <h4>查詢理由</h4>
                            <p>新業務</p>
                        </div>
                    </div>
                    <div class="inquiry-times">
                        <div id="financial-inquiry">
                            <h4>金融機構查詢次數</h4>
                            <p>1</p>
                        </div>
                        <div id="credit-card-inquiry">
                            <h4>信用卡查詢次數</h4>
                            <p>0</p>
                        </div>
                    </div>
                </div>
            </div>




            <div class="dataContent">
                <h3 id="content1">壹、基本資料查詢</h3>
                <form class="contentGrid-container">
                    <div id="grid1" class="content-grid">
                        <label for="name">姓名/公司名稱</label>
                        <br>
                        <div class="text-container">
                                <input type="text" style="width: 100%; height: 30px;" name="name" readonly
                                value="朱炳丞" id="personname" class="editForm"></input>
                        </div>
                        <div class="check"></div>
                    </div>
                    <div id="grid1-detail" class="content-grid details not-shown">
                        <div class="close"></div>
                        <img src="{% static 'webpages/baseline-check_circle-24px.png'%}" alt="">
                        <span>姓名/公司名稱</span>
                        <ul>
                            <li>
                                <h6>貳、一、(一)活期性存款往來資料查詢</h6>
                                <p>朱炳丞</p>
                                <a href=""><img src="{% static 'webpages/arrowForward.png' %}" alt=""></a>
                            </li>
                            <li>
                                <h6>貳、一、(一)活期性存款往來資料查詢</h6>
                                <p>朱炳丞</p>
                                <a href=""><img src="{% static 'webpages/arrowForward.png' %}" alt=""></a>
                            </li>
                            <li>
                                <h6>貳、一、(一)活期性存款往來資料查詢</h6>
                                <p>朱炳丞</p>
                                <a href=""><img src="{% static 'webpages/arrowForward.png' %}" alt=""></a>
                            </li>
                        </ul>
                    </div>
                    <div id="grid2" class="content-grid">
                        <label for="personID">身份證字號/統一編號</label>
                        <br>
                        <div class="text-container">
                                <input type="text" style="width: 100%; height: 30px;" name="personID" readonly
                                value="R123456789" id="personidentity" class="editForm"></input>
                        </div>
                        <div class="check"></div>
                    </div>
                    <div id="grid2-detail" class="content-grid details not-shown">
                        <div class="close"></div>
                        <img src="{% static 'webpages/baseline-check_circle-24px.png' %}" alt="">
                        <span>身份證字號/統一編號</span>
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                    <div id="grid3" class="content-grid">
                        <label for="relation">關係別/與主借款人關係</label>
                        <br>
                        <div class="text-container">
                            <select disabled style="width: 100%; height: 30px;">
                                <option value="主要借款人">主要借款人</option>
                                <option value="次要借款人">次要借款人</option>
                                <option value="借款借款人">借款借款人</option>
                                <option value="借借款款人">借借款款人</option>
                            </select>
                        </div>
                        <div class="check"></div>
                    </div>
                    <div id="grid3-detail" class="content-grid details not-shown">
                        <div class="close"></div>
                        <img src="{% static 'webpages/baseline-check_circle-24px.png' %}" alt="">
                        <span>關係別/與主借款人關係</span>
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                    <div id="grid4" class="content-grid">
                        <label for="birth">出生日期</label>
                        <br>
                        <div class="text-container">
                                <input type="text" style="width: 100%; height: 30px;" name="birth" readonly
                                value="850102" id="personbirthday" class="editForm"></input>
                        </div>
                        <div class="check"></div>
                    </div>
                    <div id="grid4-detail" class="content-grid details not-shown">
                        <div class="close"></div>
                        <img src="{% static 'webpages/baseline-check_circle-24px.png' %}" alt="">
                        <span>出生日期</span>
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                    <div id="grid5" class="content-grid">
                        <label for="phone">個人電話</label>
                        <br>
                        <div class="text-container">
                            <input type="text" style="width: 100%; height: 30px;" name="phone" readonly
                            value="06-232841" id="personperson_house_phone" class="editForm"></input>
                            <br>
                            <input type="text" style="width: 100%; height: 30px;" name="birth" readonly
                                value="0986565551" id="personperson_phone" class="editForm"></input>
                        </div>
                        <div class="check"></div>
                    </div>
                    <div id="grid5-detail" class="content-grid details not-shown">
                        <div class="close"></div>
                        <img src="{% static 'webpages/baseline-check_circle-24px.png' %}" alt="">
                        <span>個人電話</span>
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                    <div id="grid6" class="content-grid">
                        <label for="address">住家地址</label>
                        <br>
                        <div class="text-container">
                            <textarea name="address" style="width: 100%; height: 80px;"
                                readonly id="personaddress" class="editForm">台南市大學路1號補字補字補字補字補字補字</textarea>
                        </div>
                        <div class="check"></div>
                    </div>
                    <div id="grid6-detail" class="content-grid details not-shown">
                        <div class="close"></div>
                        <img src="{% static 'webpages/baseline-check_circle-24px.png' %}" alt="">
                        <span>住家地址</span>
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                    <div id="grid7" class="content-grid">
                        <label for="position">職稱</label>
                        <div class="text-container">
                            <select disabled style="width: 100%; height: 30px;">
                                <option value="一般職員">一般職員</option>
                                <option value="幹部">幹部</option>
                            </select>
                        </div>
                        <div class="check"></div>
                    </div>
                    <div id="grid7-detail" class="content-grid details not-shown">
                        <div class="close"></div>
                        <img src="{% static 'webpages/baseline-check_circle-24px.png' %}" alt="">
                        <span>職稱</span>
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                    <div id="grid8" class="content-grid">
                        <label for="career">年資</label>
                        <br>
                        <div class="text-container">
                            <input type="text" style="width: 100%; height: 30px;" name="career" readonly
                            value="8年" id="personcareer" class="editForm"></input>
                        </div>
                        <div class="check"></div>
                    </div>
                    <div id="grid8-detail" class="content-grid details not-shown">
                        <div class="close"></div>
                        <img src="{% static 'webpages/baseline-check_circle-24px.png' %}" alt="">                        <span>年資</span>
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                    <div id="grid9" class="content-grid">
                        <label for="industry">行業別</label>
                        <div class="text-container">
                            <select disabled style="width: 100%; height: 30px;">
                                <option value="科技公司">科技公司</option>
                                <option value="傳產">傳產</option>
                            </select>
                        </div>
                        <div class="check"></div>
                    </div>
                    <div id="grid9-detail" class="content-grid details not-shown">
                        <div class="close"></div>
                        <img src="{% static 'webpages/baseline-check_circle-24px.png' %}" alt="">                        <span>行業別</span>
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                    <div id="grid10" class="content-grid">
                        <label for="company">現職公司</label>
                        <br>
                        <div class="text-container">
                            <input type="text" style="width:100%; height: 30px;" name="company" readonly
                                value="台積電股份有限公司" id="personcompany" class="editForm"></input>
                        </div>
                        <div class="check"></div>
                    </div>
                    <div id="grid10-detail" class="content-grid details not-shown">
                        <div class="close"></div>
                        <img src="{% static 'webpages/baseline-check_circle-24px.png' %}" alt="">                        <span>現職公司</span>
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                    <div id="grid11" class="content-grid">
                        <label for="vocation">職業說明</label>
                        <br>
                        <div class="text-container">
                            <input type="text" style="width: 100%; height: 30px;" name="vocation" readonly
                                value="輪班星人" id="personjob_title" class="editForm"></input>
                        </div>
                        <div class="check"></div>
                    </div>
                    <div id="grid11-detail" class="content-grid details not-shown">
                        <div class="close"></div>
                        <img src="{% static 'webpages/baseline-check_circle-24px.png' %}" alt="">                        <span>職業說明</span>
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                    <div id="grid12" class="content-grid">
                        <label for="company-phone">公司電話</label>
                        <br>
                        <div class="text-container">
                                <input type="text" style="width: 100%; height: 30px;" name="company-phone" readonly
                                value="06-232841" id="personcompany_phone" class="editForm"></input>
                        </div>
                        <div class="check"></div>
                    </div>
                    <div id="grid12-detail" class="content-grid details not-shown">
                        <div class="close"></div>
                        <img src="{% static 'webpages/baseline-check_circle-24px.png' %}" alt="">                        <span>公司電話</span>
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                    <div id="grid13" class="content-grid">
                        <label for="company-address">公司地址</label>
                        <br>
                        <div class="text-container">
                                <textarea name="company-address" style="width:100%; height: 80px;"
                                readonly id="personcompany_address" class="editForm">台南市大學路1號補字補字補字補字補字補字</textarea>
                        </div>
                        <div class="check"></div>
                    </div>
                    <div id="grid13-detail" class="content-grid details not-shown">
                        <div class="close"></div>
                        <img src="{% static 'webpages/baseline-check_circle-24px.png' %}" alt="">                        <span>公司地址</span>
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                    <div id="grid14" class="content-grid">
                        <label for="description">說明</label>
                        <br>
                        <div class="text-container">
                            <textarea name="description" style="width:100%; height: 120px;"
                                readonly id="persondescription" class="editForm">台南市大學路2號補字補字補字補字補字補字台南市大學路2號補字補字補字補字補字補字台南市大學路2號補字補字補字補字補字補字</textarea>
                        </div>
                        <!-- <div class="moreInfo">
                            <div>
                                <label for="House-communication">住家</label>
                                <br>
                                <select>
                                    <option value="">無人接聽</option>
                                    <option value="">家人接聽</option>
                                    <option value="">朋友接聽</option>
                                    <option value="">本人接聽</option>
                                </select>

                            </div>
                            <div>
                                <label for="company-communication">公司</label>
                                <br>
                                <select>
                                    <option value="">(無)</option>
                                    <option value="">總機確認</option>
                                    <option value="">同事確認</option>
                                    <option value="">本人接聽</option>
                                </select>
                            </div>
                            <div>
                                <label for="contact">照會本人方式</label>
                                <br>
                                <select>
                                    <option value="">手機</option>
                                    <option value="">家電</option>
                                </select>
                            </div>
                            <div>
                                <label for="business-origin">業務來源</label>
                                <br>
                                <select>
                                    <option value="">網路申請</option>
                                    <option value="">現場申請</option>
                                </select>
                            </div>
                            <div>
                                <label for="monthly-payment">月薪</label>
                                <br>
                                <input type="text" name="monthly-payment" placeholder="萬">
                            </div>
                            <div>
                                <label for="usage">用途</label>
                                <br>
                                <input type="text" name="usage" placeholder="請敘述貸款用途">
                            </div>
                            <div>
                                <label for="credit">申貸</label>
                                <br>
                                <input type="text" name="" placeholder="萬">
                            </div>
                        </div> -->
                    </div>
                </form>

                <div class="button-area">
                    <input id="edit" type="button" value="編輯">
                    <input id="save" type="button" value="存檔">
                </div>
                <br><br><br>

                <h3 id="content2">貳、本行系統查詢 <span>(單位:新台幣)</span></h3>
                <div class="inquire">
                    <h4>一、本行帳戶往來資料</h4>
                    <div class="inquire-content">
                        <h4>(一)活期性存款往來資料查詢 :</h4>
                        <div class="inquire-table">
                            <div class="table-item">
                                <h4>姓名/公司名稱</h4>
                                <p id="customName">朱炳丞</p>
                            </div>
                            <div class="table-item">
                                <h4>帳號</h4>
                                <p id="customAccount">1234567891011</p>
                            </div>
                            <div class="table-item">
                                <h4>績效行</h4>
                                <p id="customPerformance">024</p>
                            </div>
                            <div class="table-item">
                                <h4>開戶日</h4>
                                <p id="customOpeningDate">2008/08/29</p>
                            </div>
                            <div class="table-item">
                                <h4>一年平均餘額</h4>
                                <p id="customYearAverageBalance">11,388</p>
                            </div>
                            <div class="table-item">
                                <h4>六個月平均餘額</h4>
                                <p id="custom6MonthBalance">17,747</p>
                            </div>
                            <div class="table-item">
                                <h4>退票紀錄</h4>
                                <p id="customRefund_record">無</p>
                            </div>
                            <div class="table-item">
                                <h4>扣押存款</h4>
                                <p id="customSeizure_deposit">有</p>
                            </div>
                            <div class="table-item">
                                <h4>可疑帳戶</h4>
                                <p id="customSuspicious_account">正常戶</p>
                            </div>
                        </div>
                        <h4>(二)定期性存款往來資料查詢 : (無)</h4>
                        <h4>(三)放款往來、保證資料查詢(額度有效記號限主債務):</h4>
                        <h4>-尚未結清資料 : (無)</h4>
                        <h4>-已結清資料 : (無)</h4>
                        <h4>-彈性繳款 : (無)</h4>
                        <h4>(四)客戶貢獻程度分析查詢 :</h4>
                        <div class="inquire-table">
                            <div class="table-item">
                                <h4>姓名/公司名稱</h4>
                                <p>朱炳丞</p>
                            </div>
                            <div class="table-item">
                                <h4>資料日期</h4>
                                <p>201903</p>
                            </div>
                            <div class="table-item">
                                <h4>近三個月資產規模</h4>
                                <p>20074</p>
                            </div>
                            <div class="table-item">
                                <h4>當年度總AP</h4>
                                <p>10928</p>
                            </div>
                            <div class="table-item">
                                <h4>當年度非放款AP</h4>
                                <p>10928</p>
                            </div>
                            <div class="table-item">
                                <h4>前一年度總AP</h4>
                                <p>26013</p>
                            </div>
                            <div class="table-item">
                                <h4>前一年非放款AP</h4>
                                <p>26013</p>
                            </div>
                        </div>
                        <h4>(五)企金主從債務查詢 : (無)</h4>
                        <h4>(六)利害關係人海外放款往來資料查詢 : (無)</h4>
                    </div>
                </div>
                <div class="inquire">
                    <h4>二、本行信用卡資料</h4>
                    <div class="inquire-content">
                        <h4>(一)信用卡往來資料查詢 : (無)</h4>
                        <h4>(二)信用卡BLOCK CODE : (無)</h4>
                    </div>
                </div>
                <div class="inquire">
                    <h4>三、風險警訊資料</h4>
                    <div class="inquire-content">
                        <h4>(一)不予承作資料查詢 : (無)</h4>
                        <h4>(二)支存拒往資料查詢 : (無)</h4>
                        <h4>(三)利害關係人記錄查詢(銀行法、金控法、實質關係人) : (無)</h4>
                        <h4>(四)催收系統異常資料查詢 : (無)</h4>
                        <h4>(五)本行歷史資料查詢記錄 :</h4>
                        <ol>
                            <li>銀行JCIC資料庫 : (無)</li>
                            <li>信用卡徵審授信註記 : (無)</li>
                            <li>信用卡JCIC他行強停名單 : (無)</li>
                            <li>NCCCC他行強停名單 : (無)</li>
                            <li>e-collection最大逾期天數 : 3天</li>
                        </ol>
                        <h4>(六)消債協商記號 : (無)</h4>
                        <h4>(七)信用卡金融同業通報註記 : (無)</h4>
                        <h4>(八)客戶風險等級資訊與防制洗錢FDD系統查詢 :</h4>
                        <div class="inquire-table">
                            <div class="table-item">
                                <h4>姓名/身分證號</h4>
                                <p>朱炳丞/R123456789</p>
                            </div>
                            <div class="table-item">
                                <h4>最新跑批日</h4>
                                <p>20190422</p>
                            </div>
                            <div class="table-item">
                                <h4>洗錢風險分級</h4>
                                <p>低風險</p>
                            </div>
                            <div class="table-item">
                                <h4>優先法</h4>
                                <p>0</p>
                            </div>
                            <div class="table-item">
                                <h4>客戶背景</h4>
                                <p>645</p>
                            </div>
                            <div class="table-item">
                                <h4>地域因素</h4>
                                <p>355</p>
                            </div>
                            <div class="table-item">
                                <h4>業務關係與交易行為</h4>
                                <p>325</p>
                            </div>
                            <div class="table-item">
                                <h4>商品</h4>
                                <p>220</p>
                            </div>
                            <div class="table-item">
                                <h4>洗錢風險總得分</h4>
                                <p>1545</p>
                            </div>
                            <div class="table-item">
                                <h4>防制洗錢FDD系統</h4>
                                <p>無資料</p>
                            </div>
                        </div>
                        <h4>(九)法扣系統資料 :</h4>
                        <div class="inquire-table">
                            <div class="table-item">
                                <h4>姓名/身分證號</h4>
                                <p>朱炳丞/R123456789</p>
                                <p>朱炳丞/R123456789</p>
                            </div>
                            <div class="table-item">
                                <h4>來文資料</h4>
                                <p>20190116</p>
                                <p>20180813</p>
                            </div>
                            <div class="table-item">
                                <h4>扣押類別</h4>
                                <p>燃料費</p>
                                <p>燃料費</p>
                            </div>
                            <div class="table-item">
                                <h4>合計(扣押執行金額)</h4>
                                <p>4764</p>
                                <p>5142</p>
                            </div>
                            <div class="table-item">
                                <h4>資料來源</h4>
                                <p>法務部行政執行署高雄分屬</p>
                                <p>法務部行政執行署高雄分屬</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inquire">
                    <h4>四、行為評分卡評等</h4>
                    <div class="inquire-content">
                        <h4>(一)房貸近一年行為評分卡評等 : (無)</h4>
                        <h4>(二)車貸近一年行為評分卡評等 : (無)</h4>
                    </div>
                </div>

                <h3 id="content3">參、聯合徵信中心查詢回覆資料<span>(單位:新台幣仟元)</span></h3>

            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'webpages/contactToSer.js' %}"></script>
    <script src="{% static 'webpages/animation.js' %}"></script>
    
</body>

</html>