/* global */
* {
    margin: 0;
    padding: 0;
    backface-visibility: hidden;
}

body {
    background: #FCFCFC;
    color: #333;
    height: 100%;
    width: 100%;
    font-family: 'Microsoft JhengHei';
    color: #5d5d5d;
}

button, input[type="button"] {
    outline: none;
    cursor: pointer;
    border: none;
}

a{
    text-decoration: none;
    color: #5d5d5d;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #E8E8E8; 
    border-radius: 10px;
}


.not-shown{
    display: none;
}
.list-clicked{
    background: #FAFAFA;
    border-radius: 6px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .16);
    font-weight: 700;
}
.failed {
    color: #FF4D4D;
}
@keyframes expand {
    0%{
        width: 0;
        height: 0;
    }
    100%{
        width: 100%;
        height: 100%;
    }
}

/* header */
.header {
    height: 60px;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    background-color: #FFF4AA;
    z-index: 10;
}

.header img {
    vertical-align: middle;
}

.header span.logo-word {
    font-family: Lucida Bright, Regular;
    font-size: 44px;
    vertical-align: middle;
}

.content-container {
    display: flex;
    padding-top : 60px; 
}


/* mainMenu */
/* .mainMenu {
    width: 15%;
    background: #FFFFFF;
    position: fixed;
    box-shadow: 4px 0 10px #EAEAEA;
    overflow: scroll;
    height: 92.5%;
    z-index: 3;
}
.mainMenu .wrapper{
    width: 50px;
    height: 50px;
    background: url('img/leftArrow.png') no-repeat;
}

.mainMenu ul .items {
    line-height: 35px;
    height: 75px;
    padding: 15px 25px;
    box-shadow: 0 3px 8px #EAEAEA;
    border-left: 10px solid #fff4aa;
    vertical-align: center;
}

.mainMenu ul .items a {
    color: #408f98;
} */


/* datalist */
.dataList{
    z-index: 2;
    background: #FFFFFF;
    position: relative;
    position: fixed;
    height: 100%;
    /* padding: 35px; */
    /* border-right: 2px solid #EAEAEA; */
   
}
.dataList .loaner{
    line-height: 35px;
    height: 75px;
    padding: 15px 25px;
    box-shadow: 0 3px 8px #EAEAEA;
    border-bottom: 2px solid #fff4aa;
    vertical-align: center;
    color: #408f98;
}

.loaner span{
    font-weight: bold;
}
.dataList ul li:first-child{
    margin-top: 5px;
}
.dataList ul li {
    box-sizing: border-box;
    width: 97%;
    height: 40px;
    background: #f0f0f0;
    border-radius: 6px; 
    margin: 3px;
    /* padding: 5px 10px; */
    padding-left: 15px;
    padding-top: 5px;
    
}

.dataList #todo {
    position: absolute;
    top: 70%;
    left: 10%;
    text-align: center;
    background: #fff4aa;
    padding: 5px 30px;
    border-radius: 21px;   
    font-family: Yu Gothic;
}
.dataList .swiper-pagination {
    position: absolute;
    display: flex;
    display: none;
    flex-direction: column;
    border-radius: 0 5px 5px 0;
    width: 20px;
    height: 150px;
    background: #FFF;
    right: -22px;
    top: 30%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .16);
}
.swiper-pagination .swiper-bullet{
    margin: auto;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #C3C3C3;
    cursor: pointer;
}


/* content */
.content {
    z-index: 0;
    border-left: 2px solid #EAEAEA;
    margin-left: 212px;
    position: relative;
    padding:0px 35px;
    width:100%;
}

.contentList > ul li{
    z-index: 4;
    float: left;
    border-right: 0.5px solid #b0b0b0;
    padding: 0 15px 15px 15px;
    width:100%;
    cursor: pointer;
    font-size: 1.2em
}

.contentList > ul li:nth-child(6){
    border-right: none;
}

.contentList > ul li:last-child{
    border-right: none;
    float: right;
    margin-right: 50px;
}

.contentList-info{
    position: absolute;
    width: 90%;
    height: 700px;
    top: 65px;
    background: #FAFAFA;
    border-radius: 6px;
    z-index: 3;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .16);
    padding: 10px;
    /* display: none; */
}
.contentList-info .query-record{
    clear: both;
}
.contentList-info h3 {
    padding: 10px;
}
.contentList-info .contentList-table {
    display: flex;
    padding: 10px;
}
.contentList-table .contentList-table-item {
    flex: auto;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #707070;
    text-align: center;
}
.contentList-table .contentList-table-item h4{
    border-bottom: 0.5px solid #707070;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 10px;
}
.contentList-table .contentList-table-item p {
    padding: 5px;
}
.contentList-info .inquiry-times {
    padding-right: 25px;
    display: flex;
    float: right;
}
.inquiry-times > div {
    margin: 0 40px;
    text-align: center;
}
.inquiry-times > div > h4{
    font-weight: 400;
    padding-bottom: 10px;
}
.inquiry-times > div > p{
    font-size: 25px;
    font-weight: 700;
    color: #1794F5;
}
/* dataContent */
.dataContent{
    clear: both;
    width: 100%;
}

.dataContent h3 {
    padding: 15px;
    font-weight: 700;
}

.dataContent h3 span{
    font-weight: 300;
}


/****** Grid comes here ******/
.contentGrid-container {
    display: grid;
    /* divided into 17 columns and 6 rows*/
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(7,1fr);
}

.content-grid {

    margin: 2px;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 6px;
    height: 160px;
    position: relative;
}

.content-grid label{
    font-size: 1.2em;
    font-weight: medium;
    color: #b3b3b3;
}

.content-grid .text-container {
    border-top: 0.5px solid #707070;
}


.content-grid input[type="text"]{
    font-size: 1.2em;
    padding: 2px; 
    margin-top: 10px;
    font-family: 'Microsoft JhengHei';
    border: none;
    outline: none;
}

.content-grid textarea {
    padding: 2px;
    margin-top: 12px;
    font-size: 1.2em;
    font-family: 'Microsoft JhengHei';
    float: left;
    resize: none;
    border: none;
    outline: none;
}

.content-grid select {
    font-size: 1.2em;
    padding: 2px;
    margin-top: 12px;
    border: none;
    font-family: 'Microsoft JhengHei';
    background: #FFFFFF;
    color: #000000;
    appearance: none;
    -moz-appearance: none; 
    -webkit-appearance: none;
    outline: none;
}


/

/* check-bottom */
.check {
    cursor: pointer;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25px;
    height: 25px;
    margin: 10px;
    border-radius: 50%;
    background: url("img/baseline-check_circle-24px.png");
}


/* button */
.button-area {
    float: right;
    
}
.content input[type="button"] {
    background: #FFFFFF;
    border-radius: 6px;
    border: solid 0.5px #707070;
   
    height: 26px;
    padding: 5px 15px;
    margin: 10.5px;
    cursor: pointer;
    outline: none;
}
.content input[type="button"]:hover{
    background: #707070;
    transition-duration: 200ms;
    color: white;
}

/* inquire */

.inquire {
    background: #FFFFFF;
    border-radius: 6px;
    padding: 10px 5px 5px 5px;
    position: relative;
}
.inquire img{
    
    cursor:pointer;
    width: 24px;
}
.inquire h4{
    font-weight: 200;
}
.inquire .inquire-content{
    padding: 10px 5px 5px 30px;
}
.inquire-content ol {
    padding-left: 30px; 
}
.inquire-content ol li{
    font-weight: 300;
}
.inquire-table {
    width: 95%;
    display: flex;
    margin: 20px 5px 20px 20px ;
}
.inquire-table .table-item {
    text-align: center;
    flex: auto;
}
.inquire-table .table-item:first-child {
    text-align: start;
}
.table-item h4{
    padding: 5px;
    font-size: 1em;
    color: #B3B3B3;
    border-bottom: 0.5px solid #707070;
}
.table-item p{
    padding: 5px;
    font-size: 1em;
}

.collapsible {
    width: 95%;
    display: flex;
    margin: 20px 5px 20px 5px ;
    /* display: none; */
}

.collapsible .non-collapsed-item{
    text-align: center;
    flex: auto;
}

.non-collapsed-item h4{
    padding-bottom: 5px;
}

.non-collapsed-item p{
    font-size: 1.5em;
    color: #1794F5;
}

.collapse-section{
    display: none;
}


#conclusion .conclusion-item{
    display: flex;
    padding: 15px;
}

.conclusion-item > h4{
    display: block;
    float: left;
    width: 10em; 
    margin-right: 1em;
    font-weight: 600;
    font-size: 1.1em;
    padding: 0.7em 0 0 2em;
}
.conclusion-item .conclusion-info {
    display: block;
    flex: auto;
    padding: 0 15px 15px 15px;
    border-bottom: 0.5px solid #707070;
}

.conclusion-item > p {
    display: block;
    word-break: break-all;
    font-size: 1em;
}
.conclusion-item p span {
    color: #1794F5;
    font-size: 1.1em;
    font-weight: 700;
}
.conclusion-info {
    line-height: 50px;
}

.conclusion-info input[type="text"]{
    width: 100%;
    font-family: 'Microsoft JhengHei';
    border: none;
    outline: none;
    font-size: 1.2em;
    padding: 5px;
     color: #1794F5;
    text-align: right;
}
.conclusion-info textarea {
    width: 90%;
    font-size: 1.3em;
    font-family: 'Microsoft JhengHei';
    resize: none;
    float: left;
    border: none;
    outline: none;
    padding: 5px;
    color: #1794F5;
}
.conclusion-info select {
    /* padding: 2px; */
    width: 80px;
    border: none;
    font-family: 'Microsoft JhengHei';
    background: #FFFFFF;
    color: #000000;
    appearance: none;
    -moz-appearance: none; 
    -webkit-appearance: none;
    font-size: 1.4em;
    font-weight: bold;
    outline: none;
    padding-left: 5px;
    color: #1794F5;
}
.conclusion-info div{
    top:0px;
   
    height:100%;
   float:left;
}

.alert-list{
    background: white;
}

/*credit page*/

.conclusion-item input[type="text"]{
    margin:0 5px;
}
.conclusion-info p{
    float:left;
    width:8em;
}
#income{
    width: 100px;
}
#assessment{
    width:300px;
}
#dbr{
    width: 100px;
}
#dbr_icome{
    width:100px;
}
#content1{
    line-height: 5em;
}
#opnion{
    height:5em;
}
#other{
    width:110px;
}

/*checkbox*/
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + label {
    
    
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:25px;
    height:25px;
    margin:-2px 5px 0 0;
    vertical-align:middle;
    background:url(./img/baseline-check_box_outline_blank-24px.svg) left top no-repeat;
    
}
input[type="checkbox"]:checked + label span {
    background:url(./img/baseline-check_box-24px.svg) left top no-repeat;
    color:#B3B3B3;
    transition-duration: 200ms;
}