/* global */
* {
    margin: 0;
    padding: 0;
}

body {
    background: #FCFCFC;
    color: #333;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: 'Microsoft jhenghei';
    font-weight: normal;
    color: #5d5d5d;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #E8E8E8; 
    border-radius: 10px;
}


/* .outside-grid-container{
    display: grid;
    grid-template-areas: 
        'header header header header header header header header '
        'menu dataList content content content content content content ';
} */


/* header */
.header {
    height: 60px;
    top:0px;
    z-index: 1;
    width: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    background-color: #FFF4AA;
    
}
.header img {
    vertical-align: middle;
}
.logo{
    padding:9px;
}
.header span.logo-word {
    font-family: Lucida Bright, Regular;
    font-size: 25px;
    vertical-align: middle;
}

/*Search*/
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.searchbar{
    width:100%;
    min-width: 1000px;
    
    
}


.search{

    background-color: #FFFFFF;
    height:80px;
    width:auto;
    padding: 0px 60px;
    
}
.search h2{
    float: left;
    line-height: 80px
}
.search h5{
    line-height: 80px;
}
.search img{
    vertical-align:middle;padding :0 5px 5px 0;width: 25px;
}
.search label{
    margin-left: 20px;
}
.search input{
    margin-left: 20px;
}
.search form{
    float: right;
}
.filter{
    
    background-color: #FAFAFA;
    width:auto;
    padding: 0px 60px;
}
.filter h5{
    line-height: 60px;
}
/*data*/
.container{
    width:100%;
    min-width: 1000px;
    position: relative;
  
}
.content{
    
    background-color: #FFFFFF;
    width:auto;
    padding :0px 30px;
}
.footer{
    width:auto;
    height:90px;
    padding:0 45px;
    border-top:solid 0.5px #707070;
}

/*checkbox*/
#all + label{
margin: 0 0 0 12.5px;

}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + label {
    
    
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:25px;
    height:25px;
    margin:-2px 0 0 0;
    vertical-align:middle;
    background:url(./img/baseline-check_box_outline_blank-24px.svg) left top no-repeat;
    
}
input[type="checkbox"]:checked + label span {
    background:url(./img/baseline-check_box-24px.svg) left top no-repeat;
    color:#B3B3B3;
    transition-duration: 200ms;
}
/*radio*/
input[type="radio"]{
    display: none;
   
}
input[type="radio"] + label {
    color:#B3B3B3;
     margin-left: 15px;
}
input[type="radio"] + label:hover {
    transition-duration: 200ms;
    color:#5D5D5D;
}
input[type="radio"] + label span {
    display:inline-block;
    width:25px;
    height:25px;
    margin:-2px 0 0 0;
    vertical-align:middle;
    
}
input[type="radio"]:checked + label span {
    background:url(./img/baseline-sort-24px.svg) left top no-repeat;
    transition-duration: 200ms;
}
input[type="radio"]:checked + label {
    
    transition-duration: 200ms;
    color:#5D5D5D;
}
/*button*/
input[type="button"] {
    background: #FFFFFF;
    font-family: 'Microsoft jhenghei';
    border-radius: 6px;
    border:solid 0.5px #B3B3B3;
    padding:8px 10px;
    margin-left:25px;

}
input[type="button"]:hover{
    
    background: #FFFFFF;
    background: #B3B3B3;
    transition-duration:200ms;
    color:white;
}
input[type="search"]{
    color: #C3C3C3;
    height: 30px ;
    width:210px;
    border-radius: 15px;
    border:solid 1px #5D5D5D;
    padding:0px 10px
}

/* datalist */

table{
    text-align: center;
}
tr{
    height:60px;
    
}
.data:hover{
            background-color:#FAFAFA;
            transition-duration: 200ms;
 }
table {
    
    width: 100%; 
    table-layout:fixed ;
    ;
    text-align: center;
    border-collapse: collapse;
    
}
.data{
    height:60px;
   
}
.title{
    height:60px;
    border-bottom:solid 0.5px #707070;
}
td{
    
}
/*footer*/

