<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>SinoPac</title>
</head>

<body>
    <div class="outside-grid-container">
        <div class="header">
            <div class="logo">
                <img src="img/sinopac_logo.png" alt="" width="175">
                <span class="logo-word"><span style="color: #e71a0f">e</span>Loan</span>
            </div>

        </div>
        <div class="mainMenu">
            <button>回到代辦事項</button>
            <ul>
                <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li>
                <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li>
                <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li>
                <li class="items"><a href="">朱炳丞 | 信用貸款<br>[消金TM網銀信貸專案]</a></li>
            </ul>
        </div>
        <div class="dataList">
            <ul>
                <li><a href=""><img src="img/data.png" width="24"> 個案資料</a></li>
                <li><a href=""><img src="img/report.png" width="24"> 報告總覽</a></li>
                <li><a href=""><img src="img/comment.png" width="24"> 信貸徵審意見</a></li>
                <li><a href=""><img src="img/review.png" width="24"> 防杜代辦檢核表</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="contentList">
                <ul>
                    <li>金融機構查詢紀錄(<span>5</span>)</li>
                    <li>信用卡繳款紀錄</li>
                    <li>授信餘額紀錄</li>
                    <li>票查紀錄</li>
                    <li>主保債務查詢</li>
                    <li>同一經濟關係人</li>
                    <li><img src="img/print.png" width="24"></li>
                </ul>
            </div>
            <div class="dataContent">
                <h3>壹、基本資料查詢</h3>
                <form class="contentGrid-container">
                    <div id="grid1" class="content-grid">
                        <label for="name">姓名/公司名稱</label>
                        <br>
                        <div class="text-container">
                            <input type="text" style="width: 95%; height: 30px;" name="name" readonly
                                value="朱炳丞"></input>
                        </div>
                    </div>
                    <div id="grid2" class="content-grid">
                        <label for="personID">身份證字號/統一編號</label>
                        <br>
                        <div class="text-container">
                            <input type="text" style="width: 95%; height: 30px;" name="personID" readonly
                                value="R123456789"></input>
                        </div>
                    </div>
                    <div id="grid3" class="content-grid">
                        <label for="relation">關係別/與主借款人關係</label>
                        <br>
                        <div class="text-container">
                            <select disabled style="width: 95%; height: 30px;">
                                <option value="主要借款人">主要借款人</option>
                                <option value="次要借款人">次要借款人</option>
                                <option value="借款借款人">借款借款人</option>
                                <option value="借借款款人">借借款款人</option>
                            </select>
                        </div>

                    </div>
                    <div id="grid4" class="content-grid">
                        <label for="birth">出生日期</label>
                        <br>
                        <div class="text-container">
                            <input type="text" style="width: 95%; height: 30px;" name="birth" readonly
                                value="850102"></input>
                        </div>

                    </div>
                    <div id="grid5" class="content-grid">
                        <label for="phone">個人電話</label>
                        <br>
                        <div class="text-container">
                            <input type="text" style="width: 95%; height: 30px;" name="phone" readonly
                                value="06-232841"></input>
                            <br>
                            <input type="text" style="width: 95%; height: 30px;" name="birth" readonly
                                value="0986565551"></input>
                        </div>
                    </div>
                    <div id="grid6" class="content-grid">
                        <label for="address">住家地址</label>
                        <br>
                        <!-- <input type="text" name="address" readonly value="台南市大學路1號補字補字補字補字補字補字"></input> -->
                        <div class="text-container">
                            <textarea name="address" style="width: 95%; height: 80px;"
                                readonly>台南市大學路1號補字補字補字補字補字補字</textarea>
                        </div>
                    </div>
                    <div id="grid7" class="content-grid">
                        <label for="position">職稱</label>

                        <div class="text-container">
                            <select disabled style="width: 95%; height: 30px;">
                                <option value="一般職員">一般職員</option>
                                <option value="幹部">幹部</option>
                            </select>
                        </div>
                    </div>
                    <div id="grid8" class="content-grid">
                        <label for="career">年資</label>
                        <br>
                        <div class="text-container">
                            <input type="text" style="width: 95%; height: 30px;" name="career" readonly
                                value="8年"></input>
                        </div>
                    </div>
                    <div id="grid9" class="content-grid">
                        <label for="industry">行業別</label>
                        <div class="text-container">
                            <select disabled style="width: 95%; height: 30px;">
                                <option value="科技公司">科技公司</option>
                                <option value="傳產">傳產</option>
                            </select>
                        </div>
                    </div>
                    <div id="grid10" class="content-grid">
                        <label for="company">現職公司</label>
                        <br>
                        <div class="text-container">
                            <input type="text" style="width:95%; height: 30px;" name="company" readonly
                                value="台積電股份有限公司"></input>
                        </div>
                    </div>
                    <div id="grid11" class="content-grid">
                        <label for="vocation">職業說明</label>
                        <br>
                        <div class="text-container">
                            <input type="text" style="width: 95%; height: 30px;" name="vocation" readonly
                                value="輪班星人"></input>
                        </div>
                    </div>
                    <div id="grid12" class="content-grid">
                        <label for="company-phone">公司電話</label>
                        <br>
                        <div class="text-container">
                            <input type="text" style="width: 95%; height: 30px;" name="company-phone" readonly
                                value="06-232841"></input>
                        </div>
                    </div>
                    <div id="grid13" class="content-grid">
                        <label for="company-address">公司地址</label>
                        <br>
                        <!-- <input type="text" name="company-address" readonly value="台南市大學路1號補字補字補字補字補字補字"></input> -->
                        <div class="text-container">
                            <textarea name="company-address" style="width:95%; height: 80px;"
                                readonly>台南市大學路1號補字補字補字補字補字補字</textarea>
                        </div>
                    </div>
                    <div id="grid14" class="content-grid">
                        <label for="description">說明</label>
                        <br>
                        <!-- <input type="text" name="description" readonly
                            value="台南市大學路2號補字補字補字補字補字補字台南市大學路2號補字補字補字補字補字補字台南市大學路2號補字補字補字補字補字補字"></input> -->
                        <div class="text-container">
                            <textarea name="description" style="width:95%; height: 120px;"
                                readonly>台南市大學路2號補字補字補字補字補字補字台南市大學路2號補字補字補字補字補字補字台南市大學路2號補字補字補字補字補字補字</textarea>
                        </div>
                    </div>
                </form>
                <!-- <div class="contentGrid-container">
                    <div id="grid1" class="content-grid">
                        <h5>姓名/公司名稱</h5>
                        <p>朱炳丞</p>
                    </div>
                    <div id="grid2" class="content-grid">
                        <h5>身分證字號/統一編號</h5>
                        <p>R123456789</p>
                    </div>
                    <div id="grid3" class="content-grid">
                        <h5>關係人/與主要借款人關係</h5>
                        <p>主要借款人</p>
                        <p>本人</p>
                    </div>
                    <div id="grid4" class="content-grid">
                        <h5>出生日期</h5>
                        <p>850102</p>
                    </div>
                    <div id="grid5" class="content-grid">
                        <h5>個人電話</h5>
                        <p>06-232841</p>
                        <p>0986565551</p>
                    </div>
                    <div id="grid6" class="content-grid">
                        <h5>住家地址</h5>
                        <p>台南市大學路1號補字補字補字補字補字補字</p>
                    </div>
                    <div id="grid7" class="content-grid">
                        <h5>職稱</h5>
                        <p>一般職員</p>
                    </div>
                    <div id="grid8" class="content-grid">
                        <h5>年資</h5>
                        <p>8年</p>
                    </div>
                    <div id="grid9" class="content-grid">
                        <h5>行業別</h5>
                        <p>科技公司</p>
                    </div>
                    <div id="grid10" class="content-grid">
                        <h5>現職公司</h5>
                        <p>台積電股份有限公司</p>
                    </div>
                    <div id="grid11" class="content-grid">
                        <h5>職業說明</h5>
                        <p>輪班星人</p>
                    </div>
                    <div id="grid12" class="content-grid">
                        <h5>公司電話</h5>
                        <p>06-232841</p>
                    </div>
                    <div id="grid13" class="content-grid">
                        <h5>公司地址</h5>
                        <p>台南市大學路1號補字補字補字補字補字補字</p>
                    </div>
                    <div id="grid14" class="content-grid">
                        <h5>說明</h5>
                        <p>台南市大學路2號補字補字補字補字補字補字台南市大學路2號補字補字補字補字補字補字台南市大學路2號補字補字補字補字補字補字</p>
                    </div>
                </div> -->
                <div class="content-button">
                    <input id="edit" type="button" value="編輯">
                    <input id="save" type="button" value="存檔">
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="animation.js"></script>
</body>

</html>