/* global */
* {
    margin: 0;
    padding: 0;
}

body {
    background: #FCFCFC;
    color: #333;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: 'Yu Gothic';
    color: #5d5d5d;
}

a{
    text-decoration: none;
    color: #5d5d5d;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #E8E8E8; 
    border-radius: 10px;
}


/* .outside-grid-container{
    display: grid;
    grid-template-areas: 
        'header header header header header header header header '
        'menu dataList content content content content content content ';
} */


/* header */
.header {
    height: 60px;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    background-color: #FFF4AA;
}

.header img {
    vertical-align: middle;
}
.header span.logo-word {
    font-family: Lucida Bright, Regular;
    font-size: 44px;
    vertical-align: middle;
}

.content-container {
    display: flex;
    padding-top : 60px; 
}
/* mainMenu */
.mainMenu {
    /* width: 15%; */
    position: fixed;
    box-shadow: 4px 0 10px #EAEAEA;
    overflow: scroll;
    height: 92.5%;
}

.mainMenu button {
    background: #fff4aa;
    width: 175px;
    height: 40px;
    border-radius: 21px;  
    border: none;  
    margin: 35px;
    font-family: Yu Gothic;
}
.mainMenu ul .items {
    line-height: 40px;
    height: 75px;
    padding: 15px 25px;
    box-shadow: 0 3px 8px #EAEAEA;
    border-left: 10px solid #fff4aa;
}
.mainMenu ul .items a {
    color: #408f98;
}


/* datalist */
.dataList{
    position: fixed;
    margin-left: 245px;
    width: 15%;
    padding: 35px;
    /* border-right: 2px solid #EAEAEA; */
    width: 160px;
}
.dataList ul li {
    width: 150px;
    height: 56px;
}

/* content */
.content {
    border-left: 2px solid #EAEAEA;
    margin-left: 475px;
    /* position: fixed; */
    padding: 35px;
    grid-area: content;
    
}

.contentList > ul li{
    float: left;
    border-right: 0.5px solid #b0b0b0;
    padding: 0 15px;
}
.contentList > ul li:nth-child(6){
    border-right: none;
}
.contentList > ul li:last-child{
    border-right: none;
    float: right;
    margin-right: 50px;
}

/* dataContent */
.dataContent{
    clear: both;
}
.dataContent h3 {
    padding: 15px;
}

/****** Grid comes here ******/
.contentGrid-container {
    display: grid;
    /* divided into 17 columns */
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto ; 

}

.content-grid {
    font-size: 14px;
    margin: 2px;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 6px;
    height: 160px;
}

.content-grid label{
    font-weight: medium;
    /* border-bottom: 0.5px solid #707070; */
    color: #b3b3b3;
}

.content-grid .text-container {
    border-top: 0.5px solid #707070;
}

.content-grid input[type="text"]{
    padding: 2px; 
    margin-top: 10px;
    font-family: Yu Gothic;
    border: none;
}

.content-grid textarea {
    padding: 2px;
    margin-top: 10px;
    font-family: Yu Gothic;
    resize: none;
    border: none;
}

.content-grid select {
    padding: 2px;
    margin-top: 10px;
    border: none;
    font-family: Yu Gothic;
    background: #FFFFFF;
    color: #000000;
    appearance: none;
    -moz-appearance: none; 
    -webkit-appearance: none;
    /* background: url("img/downArrow.png") no-repeat scroll right center transparent;    */
}

.content-grid select option:hover{
    background: #f7f7f7;
}

/****** Adjust every grid's size(column) ******/
#grid1,#grid7 {
    grid-column: 1 / 3;
    min-width: 75px;
    max-width: 100px;
}
#grid2 {
    grid-column: 3 / 6;
}
#grid3, #grid10 {
    grid-column: 6 / 9;
    min-width: 110px;
}
#grid4, #grid11 {
    grid-column: 9 / 11;
    min-width: 60px;
    max-width: 100px;
}
#grid5, #grid12 {
    grid-column: 11 / 13;
    min-width: 75px;
    max-width: 90px;
}
#grid6, #grid13 {
    grid-column: 13 / 18;
    min-width: 175px;
}
#grid8 {
    max-width: 45px;
}
#grid9 {
    grid-column: 4 / 6;
    min-width: 70px;
}
#grid14 {
    grid-column: 1 / 18;
}

.content-button {
    float: right;
    margin-right: 72px;
}
.content-button input[type="button"] {
    background: #FFFFFF;
    border-radius: 6px;
    border: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .16);
    height: 32px;
    width: 64px;
    margin: 10.5px;
}


